{
 "cells": [
  {
   "cell_type": "markdown",
   "id": "e95fe4c0",
   "metadata": {},
   "source": [
    "# EDA"
   ]
  },
  {
   "cell_type": "code",
   "id": "c9671be5",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-24T12:59:25.806270Z",
     "start_time": "2025-10-24T12:59:25.798804Z"
    }
   },
   "source": [
    "import pandas as pd\n",
    "import seaborn as sns\n",
    "import matplotlib.pyplot as plt\n",
    "import ast\n",
    "import numpy as np"
   ],
   "outputs": [],
   "execution_count": 26
  },
  {
   "cell_type": "markdown",
   "id": "189177c0",
   "metadata": {},
   "source": [
    "# Load datasets"
   ]
  },
  {
   "cell_type": "code",
   "id": "b913d83c",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-24T12:59:34.524379Z",
     "start_time": "2025-10-24T12:59:26.063368Z"
    }
   },
   "source": [
    "path = \"movies/\"\n",
    "movies = pd.read_csv(f\"{path}movies_metadata.csv\", low_memory=False)\n",
    "credits = pd.read_csv(f\"{path}credits.csv\")\n",
    "keywords = pd.read_csv(f\"{path}keywords.csv\")\n",
    "links = pd.read_csv(f\"{path}links.csv\")\n",
    "ratings = pd.read_csv(f\"{path}ratings.csv\")"
   ],
   "outputs": [],
   "execution_count": 27
  },
  {
   "cell_type": "markdown",
   "id": "c5fe7829",
   "metadata": {},
   "source": [
    "# Parse json"
   ]
  },
  {
   "cell_type": "code",
   "id": "fc983f23",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-24T13:00:03.695188Z",
     "start_time": "2025-10-24T12:59:34.798056Z"
    }
   },
   "source": [
    "def parse_json(x):\n",
    "    if pd.isna(x): return []\n",
    "    try:\n",
    "        return ast.literal_eval(x)\n",
    "    except: \n",
    "        return []\n",
    "    \n",
    "for col in ['genres','production_companies','production_countries','spoken_languages','belongs_to_collection']:\n",
    "    movies[col] = movies[col].apply(parse_json)\n",
    "\n",
    "for col in ['cast', 'crew']:\n",
    "    credits[col] = credits[col].apply(parse_json)"
   ],
   "outputs": [],
   "execution_count": 28
  },
  {
   "cell_type": "markdown",
   "id": "f49d5c4b",
   "metadata": {},
   "source": [
    "# String values to int, NaN to 0"
   ]
  },
  {
   "cell_type": "code",
   "id": "58a1d414",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-24T13:00:04.217052Z",
     "start_time": "2025-10-24T13:00:04.091177Z"
    }
   },
   "source": [
    "for col in ['budget','revenue','runtime','vote_average','vote_count']:\n",
    "    movies[col] = pd.to_numeric(movies[col], errors='coerce').fillna(0)\n",
    "\n",
    "# Convert release_date to datetime\n",
    "movies['release_date'] = pd.to_datetime(movies['release_date'], errors='coerce')\n",
    "\n",
    "movies[\"id\"] = pd.to_numeric(movies[\"id\"], errors=\"coerce\")\n",
    "links[\"movieId\"] = pd.to_numeric(links[\"movieId\"], errors=\"coerce\")\n",
    "links[\"tmdbId\"] = pd.to_numeric(links[\"tmdbId\"], errors=\"coerce\")\n",
    "links[\"imdbId\"] = pd.to_numeric(links[\"imdbId\"], errors=\"coerce\")\n"
   ],
   "outputs": [],
   "execution_count": 29
  },
  {
   "cell_type": "markdown",
   "id": "9490200c",
   "metadata": {},
   "source": [
    "## Check if there are movies in links that are not in movies"
   ]
  },
  {
   "cell_type": "code",
   "id": "5638c802",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-24T13:00:04.741224Z",
     "start_time": "2025-10-24T13:00:04.521807Z"
    }
   },
   "source": [
    "movies_ids = pd.Series(movies['id'].dropna().astype('Int64').unique())\n",
    "links_tmdb = pd.Series(links['tmdbId'].dropna().astype('Int64').unique())\n",
    "\n",
    "movies_set = set(movies_ids)\n",
    "links_set = set(links_tmdb)\n",
    "\n",
    "missing_in_links = sorted(movies_set - links_set)\n",
    "extra_in_links = sorted(links_set - movies_set)\n",
    "\n",
    "print(f\"Total unique movie IDs in movies: {len(movies_set)}\")\n",
    "print(f\"Total unique tmdbIds in links: {len(links_set)}\")\n",
    "print(f\"Number of movie IDs missing in links: {len(missing_in_links)}\")\n",
    "print(f\"Number of tmdbIds in links not present in movies: {len(extra_in_links)}\")\n",
    "\n",
    "if missing_in_links:\n",
    "    print(\"\\nSample missing movie IDs (up to 20):\", missing_in_links[:20])\n",
    "    display(movies[movies['id'].isin(missing_in_links)][['id', 'title', 'release_date']])\n",
    "\n",
    "if extra_in_links:\n",
    "    print(\"\\nSample extra tmdbIds in links not in movies (up to 20):\", extra_in_links[:20])\n",
    "    display(links[links['tmdbId'].isin(extra_in_links)].head(20))"
   ],
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Total unique movie IDs in movies: 45433\n",
      "Total unique tmdbIds in links: 45594\n",
      "Number of movie IDs missing in links: 0\n",
      "Number of tmdbIds in links not present in movies: 161\n",
      "\n",
      "Sample extra tmdbIds in links not in movies (up to 20): [np.int64(2413), np.int64(2518), np.int64(2670), np.int64(10700), np.int64(12188), np.int64(12773), np.int64(13057), np.int64(13716), np.int64(15533), np.int64(15594), np.int64(15738), np.int64(17882), np.int64(19341), np.int64(20881), np.int64(20892), np.int64(21680), np.int64(24219), np.int64(24549), np.int64(25093), np.int64(29133)]\n"
     ]
    },
    {
     "data": {
      "text/plain": [
       "       movieId  imdbId    tmdbId\n",
       "4114      4207  100232   12773.0\n",
       "4474      4568   96913   17882.0\n",
       "4974      5069  270933   68149.0\n",
       "5113      5209   81809   24549.0\n",
       "7416      7669  112130  164721.0\n",
       "8812     26379   75520    2413.0\n",
       "8855     26452   83387   82205.0\n",
       "8973     26649   96639   13057.0\n",
       "8994     26693   99864    2670.0\n",
       "9187     27049  135659   15738.0\n",
       "9402     27611  314979  206216.0\n",
       "9445     27708  340477   19341.0\n",
       "9454     27724  346293    2518.0\n",
       "9625     30991   98112   64699.0\n",
       "9668     31193   76363   13716.0\n",
       "9898     32352  112389  185441.0\n",
       "10478    38198  424024   10700.0\n",
       "10746    42591   88658   37525.0\n",
       "10788    42987  423651   15594.0\n",
       "11788    52281  462322  253768.0"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>movieId</th>\n",
       "      <th>imdbId</th>\n",
       "      <th>tmdbId</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>4114</th>\n",
       "      <td>4207</td>\n",
       "      <td>100232</td>\n",
       "      <td>12773.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4474</th>\n",
       "      <td>4568</td>\n",
       "      <td>96913</td>\n",
       "      <td>17882.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4974</th>\n",
       "      <td>5069</td>\n",
       "      <td>270933</td>\n",
       "      <td>68149.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5113</th>\n",
       "      <td>5209</td>\n",
       "      <td>81809</td>\n",
       "      <td>24549.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>7416</th>\n",
       "      <td>7669</td>\n",
       "      <td>112130</td>\n",
       "      <td>164721.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>8812</th>\n",
       "      <td>26379</td>\n",
       "      <td>75520</td>\n",
       "      <td>2413.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>8855</th>\n",
       "      <td>26452</td>\n",
       "      <td>83387</td>\n",
       "      <td>82205.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>8973</th>\n",
       "      <td>26649</td>\n",
       "      <td>96639</td>\n",
       "      <td>13057.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>8994</th>\n",
       "      <td>26693</td>\n",
       "      <td>99864</td>\n",
       "      <td>2670.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9187</th>\n",
       "      <td>27049</td>\n",
       "      <td>135659</td>\n",
       "      <td>15738.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9402</th>\n",
       "      <td>27611</td>\n",
       "      <td>314979</td>\n",
       "      <td>206216.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9445</th>\n",
       "      <td>27708</td>\n",
       "      <td>340477</td>\n",
       "      <td>19341.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9454</th>\n",
       "      <td>27724</td>\n",
       "      <td>346293</td>\n",
       "      <td>2518.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9625</th>\n",
       "      <td>30991</td>\n",
       "      <td>98112</td>\n",
       "      <td>64699.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9668</th>\n",
       "      <td>31193</td>\n",
       "      <td>76363</td>\n",
       "      <td>13716.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9898</th>\n",
       "      <td>32352</td>\n",
       "      <td>112389</td>\n",
       "      <td>185441.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>10478</th>\n",
       "      <td>38198</td>\n",
       "      <td>424024</td>\n",
       "      <td>10700.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>10746</th>\n",
       "      <td>42591</td>\n",
       "      <td>88658</td>\n",
       "      <td>37525.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>10788</th>\n",
       "      <td>42987</td>\n",
       "      <td>423651</td>\n",
       "      <td>15594.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>11788</th>\n",
       "      <td>52281</td>\n",
       "      <td>462322</td>\n",
       "      <td>253768.0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    }
   ],
   "execution_count": 30
  },
  {
   "cell_type": "code",
   "id": "47542a12",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-24T13:00:05.212850Z",
     "start_time": "2025-10-24T13:00:05.190299Z"
    }
   },
   "source": [
    "movies[movies[\"id\"]==64699.0]"
   ],
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Empty DataFrame\n",
       "Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]\n",
       "Index: []\n",
       "\n",
       "[0 rows x 24 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>adult</th>\n",
       "      <th>belongs_to_collection</th>\n",
       "      <th>budget</th>\n",
       "      <th>genres</th>\n",
       "      <th>homepage</th>\n",
       "      <th>id</th>\n",
       "      <th>imdb_id</th>\n",
       "      <th>original_language</th>\n",
       "      <th>original_title</th>\n",
       "      <th>overview</th>\n",
       "      <th>...</th>\n",
       "      <th>release_date</th>\n",
       "      <th>revenue</th>\n",
       "      <th>runtime</th>\n",
       "      <th>spoken_languages</th>\n",
       "      <th>status</th>\n",
       "      <th>tagline</th>\n",
       "      <th>title</th>\n",
       "      <th>video</th>\n",
       "      <th>vote_average</th>\n",
       "      <th>vote_count</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>0 rows × 24 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 31,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 31
  },
  {
   "cell_type": "markdown",
   "id": "7c3e0583",
   "metadata": {},
   "source": [
    "Movie exists in links but not in movies"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "4b478376",
   "metadata": {},
   "source": [
    "## Check if person ID is unique"
   ]
  },
  {
   "cell_type": "code",
   "id": "ce6e5b23",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-24T13:00:11.903854Z",
     "start_time": "2025-10-24T13:00:05.726711Z"
    }
   },
   "source": [
    "# Flatten both lists into one dataframe of (id, name, job_type)\n",
    "people_records = []\n",
    "\n",
    "for _, row in credits.iterrows():\n",
    "    for person in row[\"cast\"]:\n",
    "        if person[\"id\"] is not None:\n",
    "            people_records.append((person[\"id\"], person[\"name\"], \"cast\"))\n",
    "    for person in row[\"crew\"]:\n",
    "        if person[\"id\"] is not None:\n",
    "            people_records.append((person[\"id\"], person[\"name\"], \"crew\"))\n",
    "\n",
    "people_df = pd.DataFrame(people_records, columns=[\"id\", \"name\", \"type\"])\n",
    "\n",
    "# Group by ID and count distinct names\n",
    "duplicates = (\n",
    "    people_df.groupby(\"id\")[\"name\"]\n",
    "    .nunique()\n",
    "    .reset_index(name=\"unique_names\")\n",
    ")\n",
    "\n",
    "# IDs mapping to multiple names (inconsistent)\n",
    "inconsistent = duplicates[duplicates[\"unique_names\"] > 1]\n",
    "\n",
    "print(f\"Inconsistent person IDs: {len(inconsistent)}\")\n",
    "if not inconsistent.empty:\n",
    "    print(\"\\nExamples of mismatched IDs:\")\n",
    "    for pid in inconsistent[\"id\"].head(10):\n",
    "        names = people_df.loc[people_df[\"id\"] == pid, \"name\"].unique()\n",
    "\n",
    "\n",
    "        print(f\"ID {pid}: {names}\")\n",
    "else:\n",
    "    print(\"All person IDs consistently map to one name.\")"
   ],
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Inconsistent person IDs: 15\n",
      "\n",
      "Examples of mismatched IDs:\n",
      "ID 9779: ['Моррис Честнат' 'Morris Chestnut']\n",
      "ID 23764: ['Эрика Элениак' 'Erika Eleniak']\n",
      "ID 58646: ['Дэмиан Чапа' 'Damian Chapa']\n",
      "ID 63574: ['Ka-Fai Cheung' 'Cheung Ka-Fai']\n",
      "ID 67212: ['Том Ву' 'Tom Wu']\n",
      "ID 72932: ['松田龙平' 'Ryuhei Matsuda']\n",
      "ID 74947: ['张雨绮' 'Kitty Zhang Yuqi']\n",
      "ID 78456: ['Кевин «Кимбо Слайс» Фергюсон' 'Kimbo Slice']\n",
      "ID 78809: ['Рашад Эванс' 'Rashad Evans']\n",
      "ID 87637: ['长泽雅美' 'Masami Nagasawa']\n"
     ]
    }
   ],
   "execution_count": 32
  },
  {
   "cell_type": "markdown",
   "id": "e947e5a8",
   "metadata": {},
   "source": [
    "Resultatet her viser at det kun er alternative måter å skrive navnene på"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "0cd34d13",
   "metadata": {},
   "source": [
    "# Clean data"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "90a24f09",
   "metadata": {},
   "source": [
    "## Drop movies corrputed movies with no ID"
   ]
  },
  {
   "cell_type": "code",
   "id": "59be4406",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-24T13:00:12.564356Z",
     "start_time": "2025-10-24T13:00:12.525591Z"
    }
   },
   "source": [
    "movies[\"id\"] = pd.to_numeric(movies[\"id\"], errors=\"coerce\")\n",
    "links[\"movieId\"] = pd.to_numeric(links[\"movieId\"], errors=\"coerce\")\n",
    "links[\"tmdbId\"] = pd.to_numeric(links[\"tmdbId\"], errors=\"coerce\")\n",
    "links[\"imdbId\"] = pd.to_numeric(links[\"imdbId\"], errors=\"coerce\")\n",
    "\n",
    "missing_tmdb = movies[\"id\"].isna().sum()\n",
    "\n",
    "missing_movie = links[\"movieId\"].isna().sum()\n",
    "missing_imdb = links[\"imdbId\"].isna().sum()\n",
    "missing_tmdblinks = links[\"tmdbId\"].isna().sum()\n",
    "\n",
    "print(f\"Missing TMDB IDs in movies_metadata: {missing_tmdb}\")\n",
    "print(f\"Missing MovieLens IDs in links: {missing_movie}\")\n",
    "print(f\"Missing IMDb IDs in links: {missing_imdb}\")\n",
    "print(f\"Missing TMDB IDs in links: {missing_tmdblinks}\")\n",
    "\n",
    "print(\"\\nMovies with missing TMDB ID:\")\n",
    "print(movies[movies[\"id\"].isna()][[\"title\", \"release_date\"]])\n",
    "\n",
    "print(\"\\nLinks with missing IMDb ID:\")\n",
    "print(links[links[\"imdbId\"].isna()])\n",
    "\n",
    "movies[movies[\"id\"].isna()]"
   ],
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Missing TMDB IDs in movies_metadata: 3\n",
      "Missing MovieLens IDs in links: 0\n",
      "Missing IMDb IDs in links: 0\n",
      "Missing TMDB IDs in links: 219\n",
      "\n",
      "Movies with missing TMDB ID:\n",
      "      title release_date\n",
      "19730   NaN          NaT\n",
      "29503   NaN          NaT\n",
      "35587   NaN          NaT\n",
      "\n",
      "Links with missing IMDb ID:\n",
      "Empty DataFrame\n",
      "Columns: [movieId, imdbId, tmdbId]\n",
      "Index: []\n"
     ]
    },
    {
     "data": {
      "text/plain": [
       "                                                   adult  \\\n",
       "19730                                 - Written by Ørnås   \n",
       "29503   Rune Balot goes to a casino connected to the ...   \n",
       "35587   Avalanche Sharks tells the story of a bikini ...   \n",
       "\n",
       "      belongs_to_collection  budget  \\\n",
       "19730              0.065736     0.0   \n",
       "29503              1.931659     0.0   \n",
       "35587              2.185485     0.0   \n",
       "\n",
       "                                                  genres  \\\n",
       "19730  [{'name': 'Carousel Productions', 'id': 11176}...   \n",
       "29503  [{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...   \n",
       "35587  [{'name': 'Odyssey Media', 'id': 17161}, {'nam...   \n",
       "\n",
       "                                                homepage  id imdb_id  \\\n",
       "19730  [{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso... NaN       0   \n",
       "29503  [{'iso_3166_1': 'US', 'name': 'United States o... NaN       0   \n",
       "35587           [{'iso_3166_1': 'CA', 'name': 'Canada'}] NaN       0   \n",
       "\n",
       "      original_language                            original_title  overview  \\\n",
       "19730             104.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released   \n",
       "29503              68.0      [{'iso_639_1': 'ja', 'name': '日本語'}]  Released   \n",
       "35587              82.0  [{'iso_639_1': 'en', 'name': 'English'}]  Released   \n",
       "\n",
       "       ... release_date revenue runtime spoken_languages status  tagline  \\\n",
       "19730  ...          NaT     0.0     0.0               []    NaN      NaN   \n",
       "29503  ...          NaT     0.0     0.0               []    NaN      NaN   \n",
       "35587  ...          NaT     0.0     0.0               []    NaN      NaN   \n",
       "\n",
       "       title video vote_average vote_count  \n",
       "19730    NaN   NaN          0.0        0.0  \n",
       "29503    NaN   NaN          0.0        0.0  \n",
       "35587    NaN   NaN          0.0        0.0  \n",
       "\n",
       "[3 rows x 24 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>adult</th>\n",
       "      <th>belongs_to_collection</th>\n",
       "      <th>budget</th>\n",
       "      <th>genres</th>\n",
       "      <th>homepage</th>\n",
       "      <th>id</th>\n",
       "      <th>imdb_id</th>\n",
       "      <th>original_language</th>\n",
       "      <th>original_title</th>\n",
       "      <th>overview</th>\n",
       "      <th>...</th>\n",
       "      <th>release_date</th>\n",
       "      <th>revenue</th>\n",
       "      <th>runtime</th>\n",
       "      <th>spoken_languages</th>\n",
       "      <th>status</th>\n",
       "      <th>tagline</th>\n",
       "      <th>title</th>\n",
       "      <th>video</th>\n",
       "      <th>vote_average</th>\n",
       "      <th>vote_count</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>19730</th>\n",
       "      <td>- Written by Ørnås</td>\n",
       "      <td>0.065736</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'name': 'Carousel Productions', 'id': 11176}...</td>\n",
       "      <td>[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>0</td>\n",
       "      <td>104.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>...</td>\n",
       "      <td>NaT</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[]</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>29503</th>\n",
       "      <td>Rune Balot goes to a casino connected to the ...</td>\n",
       "      <td>1.931659</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...</td>\n",
       "      <td>[{'iso_3166_1': 'US', 'name': 'United States o...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>0</td>\n",
       "      <td>68.0</td>\n",
       "      <td>[{'iso_639_1': 'ja', 'name': '日本語'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>...</td>\n",
       "      <td>NaT</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[]</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>35587</th>\n",
       "      <td>Avalanche Sharks tells the story of a bikini ...</td>\n",
       "      <td>2.185485</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'name': 'Odyssey Media', 'id': 17161}, {'nam...</td>\n",
       "      <td>[{'iso_3166_1': 'CA', 'name': 'Canada'}]</td>\n",
       "      <td>NaN</td>\n",
       "      <td>0</td>\n",
       "      <td>82.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>...</td>\n",
       "      <td>NaT</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[]</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>3 rows × 24 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 33,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 33
  },
  {
   "cell_type": "code",
   "id": "859f8b59",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-24T13:00:13.101639Z",
     "start_time": "2025-10-24T13:00:12.965348Z"
    }
   },
   "source": [
    "movies = movies.dropna(subset=[\"id\"])"
   ],
   "outputs": [],
   "execution_count": 34
  },
  {
   "cell_type": "markdown",
   "id": "e5633160",
   "metadata": {},
   "source": [
    "## Check for duplicate movies"
   ]
  },
  {
   "cell_type": "code",
   "id": "8a69e44f",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-24T13:00:13.585789Z",
     "start_time": "2025-10-24T13:00:13.483945Z"
    }
   },
   "source": [
    "duplicates = movies[movies.duplicated(subset=\"id\", keep=False)]\n",
    "print(f\"Duplicate rows: {len(duplicates)}\")\n",
    "display(duplicates)\n",
    "\n",
    "# If you want only the duplicate ids\n",
    "dup_ids = movies[movies.duplicated(subset=\"id\", keep=False)][\"id\"].unique()\n",
    "print(\"Duplicate IDs:\", dup_ids)"
   ],
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Duplicate rows: 59\n"
     ]
    },
    {
     "data": {
      "text/plain": [
       "       adult                              belongs_to_collection      budget  \\\n",
       "676    False                                                 []         0.0   \n",
       "838    False                                                 []         0.0   \n",
       "949    False                                                 []         4.0   \n",
       "1465   False                                                 []         0.0   \n",
       "2564   False                                                 []         0.0   \n",
       "4114   False  {'id': 34055, 'name': 'Pokémon Collection', 'p...  16000000.0   \n",
       "4356   False                                                 []   3512454.0   \n",
       "5130   False                                                 []  26000000.0   \n",
       "5535   False  {'id': 34055, 'name': 'Pokémon Collection', 'p...         0.0   \n",
       "5710   False                                                 []         0.0   \n",
       "5865   False                                                 []  30000000.0   \n",
       "7345   False                                                 []         0.0   \n",
       "8068   False                                                 []         0.0   \n",
       "9165   False                                                 []         0.0   \n",
       "9327   False                                                 []         0.0   \n",
       "9576   False                                                 []  10000000.0   \n",
       "10419  False                                                 []   1600000.0   \n",
       "11155  False                                                 []  40000000.0   \n",
       "11342  False                                                 []      2500.0   \n",
       "12066  False                                                 []   1600000.0   \n",
       "13220  False  {'id': 158365, 'name': 'Why We Fight', 'poster...         0.0   \n",
       "13261  False                                                 []         0.0   \n",
       "13375  False                                                 []         0.0   \n",
       "13603  False                                                 []         0.0   \n",
       "13946  False                                                 []         0.0   \n",
       "14000  False                                                 []         0.0   \n",
       "14012  False                                                 []         0.0   \n",
       "15074  False                                                 []         4.0   \n",
       "15702  False                                                 []         0.0   \n",
       "15765  False                                                 []      2500.0   \n",
       "16167  False                                                 []         0.0   \n",
       "16764  False                                                 []         0.0   \n",
       "17229  False                                                 []         0.0   \n",
       "19890  False                                                 []         0.0   \n",
       "19925  False                                                 []         0.0   \n",
       "20843  False                                                 []  40000000.0   \n",
       "20899  False                                                 []         0.0   \n",
       "21116  False                                                 []         0.0   \n",
       "21165  False                                                 []         0.0   \n",
       "21854  False                                                 []         0.0   \n",
       "22151  False                                                 []         0.0   \n",
       "23044  False                                                 []         0.0   \n",
       "23534  False                                                 []   3512454.0   \n",
       "24164  False                                                 []         0.0   \n",
       "24844  False                                                 []         0.0   \n",
       "26625  False                                                 []  10000000.0   \n",
       "28860  False                                                 []         0.0   \n",
       "29374  False                                                 []         0.0   \n",
       "30001  False                                                 []         0.0   \n",
       "33184  False                                                 []    980000.0   \n",
       "33743  False                                                 []  26000000.0   \n",
       "33826  False                                                 []  30000000.0   \n",
       "35798  False  {'id': 158365, 'name': 'Why We Fight', 'poster...         0.0   \n",
       "38871  False                                                 []         0.0   \n",
       "40040  False                                                 []    980000.0   \n",
       "40276  False                                                 []         0.0   \n",
       "44821  False  {'id': 34055, 'name': 'Pokémon Collection', 'p...  16000000.0   \n",
       "44826  False  {'id': 34055, 'name': 'Pokémon Collection', 'p...         0.0   \n",
       "45265  False                                                 []         0.0   \n",
       "\n",
       "                                                  genres  \\\n",
       "676    [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...   \n",
       "838                        [{'id': 18, 'name': 'Drama'}]   \n",
       "949    [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...   \n",
       "1465   [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...   \n",
       "2564                 [{'id': 99, 'name': 'Documentary'}]   \n",
       "4114   [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...   \n",
       "4356                       [{'id': 18, 'name': 'Drama'}]   \n",
       "5130   [{'id': 12, 'name': 'Adventure'}, {'id': 10751...   \n",
       "5535   [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...   \n",
       "5710                       [{'id': 18, 'name': 'Drama'}]   \n",
       "5865   [{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...   \n",
       "7345   [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...   \n",
       "8068   [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...   \n",
       "9165   [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...   \n",
       "9327   [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...   \n",
       "9576   [{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...   \n",
       "10419  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...   \n",
       "11155  [{'id': 12, 'name': 'Adventure'}, {'id': 18, '...   \n",
       "11342  [{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...   \n",
       "12066  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...   \n",
       "13220                [{'id': 99, 'name': 'Documentary'}]   \n",
       "13261  [{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...   \n",
       "13375  [{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...   \n",
       "13603  [{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...   \n",
       "13946                     [{'id': 35, 'name': 'Comedy'}]   \n",
       "14000  [{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...   \n",
       "14012  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...   \n",
       "15074  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...   \n",
       "15702  [{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...   \n",
       "15765  [{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...   \n",
       "16167  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...   \n",
       "16764  [{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...   \n",
       "17229                      [{'id': 18, 'name': 'Drama'}]   \n",
       "19890  [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...   \n",
       "19925  [{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...   \n",
       "20843  [{'id': 12, 'name': 'Adventure'}, {'id': 18, '...   \n",
       "20899                      [{'id': 18, 'name': 'Drama'}]   \n",
       "21116                [{'id': 99, 'name': 'Documentary'}]   \n",
       "21165  [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...   \n",
       "21854  [{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...   \n",
       "22151  [{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...   \n",
       "23044                      [{'id': 18, 'name': 'Drama'}]   \n",
       "23534                      [{'id': 18, 'name': 'Drama'}]   \n",
       "24164  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...   \n",
       "24844  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...   \n",
       "26625  [{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...   \n",
       "28860  [{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...   \n",
       "29374  [{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...   \n",
       "30001                      [{'id': 18, 'name': 'Drama'}]   \n",
       "33184  [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...   \n",
       "33743  [{'id': 12, 'name': 'Adventure'}, {'id': 10751...   \n",
       "33826  [{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...   \n",
       "35798                [{'id': 99, 'name': 'Documentary'}]   \n",
       "38871  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...   \n",
       "40040  [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...   \n",
       "40276                     [{'id': 35, 'name': 'Comedy'}]   \n",
       "44821  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...   \n",
       "44826  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...   \n",
       "45265  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...   \n",
       "\n",
       "                                                homepage        id    imdb_id  \\\n",
       "676                                                  NaN  105045.0  tt0111613   \n",
       "838                                                  NaN  132641.0  tt0046468   \n",
       "949                                                  NaN   22649.0  tt0022879   \n",
       "1465                                                 NaN  105045.0  tt0111613   \n",
       "2564                                                 NaN   84198.0  tt1736049   \n",
       "4114                   http://movies.warnerbros.com/pk3/   10991.0  tt0235679   \n",
       "4356                                                 NaN  110428.0  tt2018086   \n",
       "5130                                                 NaN   15028.0  tt0157472   \n",
       "5535   http://www.pokemon.com/us/movies/movie-pokemon...   12600.0  tt0287635   \n",
       "5710                                                 NaN  109962.0  tt0082992   \n",
       "5865                                                 NaN    4912.0  tt0270288   \n",
       "7345                                                 NaN    5511.0  tt0062229   \n",
       "8068                                                 NaN   23305.0  tt0295682   \n",
       "9165                                                 NaN    5511.0  tt0062229   \n",
       "9327                                                 NaN   23305.0  tt0295682   \n",
       "9576                                                 NaN   69234.0  tt0100361   \n",
       "10419                      http://www.bubblethefilm.com/   14788.0  tt0454792   \n",
       "11155                                                NaN   77221.0  tt1701210   \n",
       "11342                                                NaN   13209.0  tt0499537   \n",
       "12066                      http://www.bubblethefilm.com/   14788.0  tt0454792   \n",
       "13220                                                NaN  159849.0  tt0173769   \n",
       "13261                                                NaN  141971.0  tt1180333   \n",
       "13375                                                NaN  141971.0  tt1180333   \n",
       "13603                                                NaN  168538.0  tt0084387   \n",
       "13946                                                NaN   97995.0  tt0127834   \n",
       "14000             http://www.daysofdarknessthemovie.com/   18440.0  tt0499456   \n",
       "14012                       http://www.dealthemovie.com/   11115.0  tt0446676   \n",
       "15074                                                NaN   22649.0  tt0022879   \n",
       "15702                                                NaN   42495.0  tt0067306   \n",
       "15765                                                NaN   13209.0  tt0499537   \n",
       "16167                                                NaN   99080.0  tt0022537   \n",
       "16764                                                NaN  141971.0  tt1180333   \n",
       "17229                                                NaN   25541.0  tt1327820   \n",
       "19890                                                NaN  119916.0  tt0080000   \n",
       "19925                                                NaN  152795.0  tt1821641   \n",
       "20843                                                NaN   77221.0  tt1701210   \n",
       "20899                                                NaN  109962.0  tt0082992   \n",
       "21116                                                NaN   84198.0  tt1736049   \n",
       "21165                                                NaN  119916.0  tt0080000   \n",
       "21854                                                NaN  152795.0  tt1821641   \n",
       "22151             http://www.daysofdarknessthemovie.com/   18440.0  tt0499456   \n",
       "23044                                                NaN   25541.0  tt1327820   \n",
       "23534                                                NaN  110428.0  tt2018086   \n",
       "24164                                                NaN  265189.0  tt2121382   \n",
       "24844                       http://www.dealthemovie.com/   11115.0  tt0446676   \n",
       "26625                                                NaN   69234.0  tt0100361   \n",
       "28860                                                NaN  168538.0  tt0084387   \n",
       "29374                                                NaN   42495.0  tt0067306   \n",
       "30001                                                NaN  132641.0  tt0046468   \n",
       "33184                                                NaN  298721.0  tt2818654   \n",
       "33743                                                NaN   15028.0  tt0157472   \n",
       "33826                                                NaN    4912.0  tt0270288   \n",
       "35798                                                NaN  159849.0  tt0173769   \n",
       "38871                                                NaN   99080.0  tt0022537   \n",
       "40040                                                NaN  298721.0  tt2818654   \n",
       "40276                                                NaN   97995.0  tt0127834   \n",
       "44821                  http://movies.warnerbros.com/pk3/   10991.0  tt0235679   \n",
       "44826  http://www.pokemon.com/us/movies/movie-pokemon...   12600.0  tt0287635   \n",
       "45265                                                NaN  265189.0  tt2121382   \n",
       "\n",
       "      original_language                    original_title  \\\n",
       "676                  de                   Das Versprechen   \n",
       "838                  ja                             Tsuma   \n",
       "949                  en                A Farewell to Arms   \n",
       "1465                 de                   Das Versprechen   \n",
       "2564                 en              A Place at the Table   \n",
       "4114                 ja              Pokémon 3: The Movie   \n",
       "4356                 fr              Camille Claudel 1915   \n",
       "5130                 en                     Clockstoppers   \n",
       "5535                 ja    劇場版ポケットモンスター セレビィ 時を越えた遭遇（であい）   \n",
       "5710                 en                   Rich and Famous   \n",
       "5865                 en   Confessions of a Dangerous Mind   \n",
       "7345                 fr                       Le Samouraï   \n",
       "8068                 en                       The Warrior   \n",
       "9165                 fr                       Le Samouraï   \n",
       "9327                 en                       The Warrior   \n",
       "9576                 en          The Phantom of the Opera   \n",
       "10419                en                            Bubble   \n",
       "11155                en                        Black Gold   \n",
       "11342                fa                           Offside   \n",
       "12066                en                            Bubble   \n",
       "13220                en  Why We Fight: Divide and Conquer   \n",
       "13261                fi                          Blackout   \n",
       "13375                fi                          Blackout   \n",
       "13603                en                              Nana   \n",
       "13946                en              Seven Years Bad Luck   \n",
       "14000                en                  Days of Darkness   \n",
       "14012                en                              Deal   \n",
       "15074                en                A Farewell to Arms   \n",
       "15702                en                         King Lear   \n",
       "15765                fa                           Offside   \n",
       "16167                en                        The Viking   \n",
       "16764                fi                          Blackout   \n",
       "17229                da                        Broderskab   \n",
       "19890                en                       The Tempest   \n",
       "19925                en                      The Congress   \n",
       "20843                en                        Black Gold   \n",
       "20899                en                   Rich and Famous   \n",
       "21116                en              A Place at the Table   \n",
       "21165                en                       The Tempest   \n",
       "21854                en                      The Congress   \n",
       "22151                en                  Days of Darkness   \n",
       "23044                da                        Broderskab   \n",
       "23534                fr              Camille Claudel 1915   \n",
       "24164                sv                            Turist   \n",
       "24844                en                              Deal   \n",
       "26625                en          The Phantom of the Opera   \n",
       "28860                en                              Nana   \n",
       "29374                en                         King Lear   \n",
       "30001                ja                             Tsuma   \n",
       "33184                th                     รักที่ขอนแก่น   \n",
       "33743                en                     Clockstoppers   \n",
       "33826                en   Confessions of a Dangerous Mind   \n",
       "35798                en  Why We Fight: Divide and Conquer   \n",
       "38871                en                        The Viking   \n",
       "40040                th                     รักที่ขอนแก่น   \n",
       "40276                en              Seven Years Bad Luck   \n",
       "44821                ja              Pokémon 3: The Movie   \n",
       "44826                ja    劇場版ポケットモンスター セレビィ 時を越えた遭遇（であい）   \n",
       "45265                sv                            Turist   \n",
       "\n",
       "                                                overview  ... release_date  \\\n",
       "676    East-Berlin, 1961, shortly after the erection ...  ...   1995-02-16   \n",
       "838    Ten years into a marriage, the wife is disappo...  ...   1953-04-29   \n",
       "949    British nurse Catherine Barkley (Helen Hayes) ...  ...   1932-12-08   \n",
       "1465   East-Berlin, 1961, shortly after the erection ...  ...   1995-02-16   \n",
       "2564   Using personal stories, this powerful document...  ...   2012-03-22   \n",
       "4114   When Molly Hale's sadness of her father's disa...  ...   2000-07-08   \n",
       "4356   Winter, 1915. Confined by her family to an asy...  ...   2013-03-13   \n",
       "5130   Until now, Zak Gibbs' greatest challenge has b...  ...   2002-03-17   \n",
       "5535   All your favorite Pokémon characters are back,...  ...   2001-07-06   \n",
       "5710   Two literary women compete for 20 years: one w...  ...   1981-09-23   \n",
       "5865   Television made him famous, but his biggest hi...  ...   2002-12-30   \n",
       "7345   Hitman Jef Costello is a perfectionist who alw...  ...   1967-10-25   \n",
       "8068   In feudal India, a warrior (Khan) who renounce...  ...   2001-09-23   \n",
       "9165   Hitman Jef Costello is a perfectionist who alw...  ...   1967-10-25   \n",
       "9327   In feudal India, a warrior (Khan) who renounce...  ...   2001-09-23   \n",
       "9576   Count de Chagnie has discovered Christine's si...  ...   1990-03-18   \n",
       "10419  Set against the backdrop of a decaying Midwest...  ...   2005-09-03   \n",
       "11155  On the Arabian Peninsula in the 1930s, two war...  ...   2011-12-21   \n",
       "11342  Since women are banned from soccer matches, Ir...  ...   2006-05-26   \n",
       "12066  Set against the backdrop of a decaying Midwest...  ...   2005-09-03   \n",
       "13220  The third film of Frank Capra's 'Why We Fight\"...  ...   1943-01-01   \n",
       "13261  Recovering from a nail gun shot to the head an...  ...   2008-12-26   \n",
       "13375  Recovering from a nail gun shot to the head an...  ...   2008-12-26   \n",
       "13603  In Zola's Paris, an ingenue arrives at a tony ...  ...   1983-06-13   \n",
       "13946  After breaking a mirror in his home, superstit...  ...   1921-02-06   \n",
       "14000  When a comet strikes Earth and kicks up a clou...  ...   2007-01-01   \n",
       "14012  As an ex-gambler teaches a hot-shot college ki...  ...   2008-01-29   \n",
       "15074  British nurse Catherine Barkley (Helen Hayes) ...  ...   1932-12-08   \n",
       "15702  King Lear, old and tired, divides his kingdom ...  ...   1971-02-04   \n",
       "15765  Since women are banned from soccer matches, Ir...  ...   2006-05-26   \n",
       "16167  Originally called White Thunder, American prod...  ...   1931-06-21   \n",
       "16764  Recovering from a nail gun shot to the head an...  ...   2008-12-26   \n",
       "17229  Former Danish servicemen Lars and Jimmy are th...  ...   2009-10-21   \n",
       "19890  Prospero, the true Duke of Milan is now living...  ...   1980-02-27   \n",
       "19925  More than two decades after catapulting to sta...  ...   2013-05-16   \n",
       "20843  On the Arabian Peninsula in the 1930s, two war...  ...   2011-12-21   \n",
       "20899  Two literary women compete for 20 years: one w...  ...   1981-09-23   \n",
       "21116  Using personal stories, this powerful document...  ...   2012-03-22   \n",
       "21165  Prospero, the true Duke of Milan is now living...  ...   1980-02-27   \n",
       "21854  More than two decades after catapulting to sta...  ...   2013-05-16   \n",
       "22151  When a comet strikes Earth and kicks up a clou...  ...   2007-01-01   \n",
       "23044  Former Danish servicemen Lars and Jimmy are th...  ...   2009-10-21   \n",
       "23534  Winter, 1915. Confined by her family to an asy...  ...   2013-03-13   \n",
       "24164  While holidaying in the French Alps, a Swedish...  ...   2014-08-15   \n",
       "24844  As an ex-gambler teaches a hot-shot college ki...  ...   2008-01-29   \n",
       "26625  Count de Chagnie has discovered Christine's si...  ...   1990-03-18   \n",
       "28860  In Zola's Paris, an ingenue arrives at a tony ...  ...   1983-06-13   \n",
       "29374  King Lear, old and tired, divides his kingdom ...  ...   1971-02-04   \n",
       "30001  Ten years into a marriage, the wife is disappo...  ...   1953-04-29   \n",
       "33184  In a hospital, ten soldiers are being treated ...  ...   2015-09-02   \n",
       "33743  Until now, Zak Gibbs' greatest challenge has b...  ...   2002-03-17   \n",
       "33826  Television made him famous, but his biggest hi...  ...   2002-12-30   \n",
       "35798  The third film of Frank Capra's 'Why We Fight\"...  ...   1943-01-01   \n",
       "38871  Originally called White Thunder, American prod...  ...   1931-06-21   \n",
       "40040  In a hospital, ten soldiers are being treated ...  ...   2015-09-02   \n",
       "40276  After breaking a mirror in his home, superstit...  ...   1921-02-06   \n",
       "44821  When Molly Hale's sadness of her father's disa...  ...   2000-07-08   \n",
       "44826  All your favorite Pokémon characters are back,...  ...   2001-07-06   \n",
       "45265  While holidaying in the French Alps, a Swedish...  ...   2014-08-15   \n",
       "\n",
       "          revenue runtime                                   spoken_languages  \\\n",
       "676           0.0   115.0           [{'iso_639_1': 'de', 'name': 'Deutsch'}]   \n",
       "838           0.0    89.0               [{'iso_639_1': 'ja', 'name': '日本語'}]   \n",
       "949          25.0    89.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
       "1465          0.0   115.0           [{'iso_639_1': 'de', 'name': 'Deutsch'}]   \n",
       "2564          0.0    84.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
       "4114   68411275.0    93.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
       "4356     115860.0    95.0          [{'iso_639_1': 'fr', 'name': 'Français'}]   \n",
       "5130   38793283.0    94.0  [{'iso_639_1': 'cs', 'name': 'Český'}, {'iso_6...   \n",
       "5535   28023563.0    75.0               [{'iso_639_1': 'ja', 'name': '日本語'}]   \n",
       "5710          0.0   115.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
       "5865   33013805.0   113.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
       "7345      39481.0   105.0          [{'iso_639_1': 'fr', 'name': 'Français'}]   \n",
       "8068          0.0    86.0            [{'iso_639_1': 'hi', 'name': 'हिन्दी'}]   \n",
       "9165      39481.0   105.0          [{'iso_639_1': 'fr', 'name': 'Français'}]   \n",
       "9327          0.0    86.0            [{'iso_639_1': 'hi', 'name': 'हिन्दी'}]   \n",
       "9576          0.0   168.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...   \n",
       "10419         0.0    73.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
       "11155   5446000.0   130.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
       "11342         0.0    93.0             [{'iso_639_1': 'fa', 'name': 'فارسی'}]   \n",
       "12066         0.0    73.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
       "13220         0.0    57.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
       "13261         0.0   108.0             [{'iso_639_1': 'fi', 'name': 'suomi'}]   \n",
       "13375         0.0   108.0             [{'iso_639_1': 'fi', 'name': 'suomi'}]   \n",
       "13603         0.0    92.0                                                 []   \n",
       "13946         0.0    62.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
       "14000         0.0    89.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
       "14012         0.0    85.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
       "15074        25.0    89.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
       "15702         0.0   137.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
       "15765         0.0    93.0             [{'iso_639_1': 'fa', 'name': 'فارسی'}]   \n",
       "16167         0.0    70.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
       "16764         0.0   108.0             [{'iso_639_1': 'fi', 'name': 'suomi'}]   \n",
       "17229         0.0    90.0             [{'iso_639_1': 'da', 'name': 'Dansk'}]   \n",
       "19890         0.0   123.0                                                 []   \n",
       "19925    455815.0   122.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
       "20843   5446000.0   130.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
       "20899         0.0   115.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
       "21116         0.0    84.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
       "21165         0.0   123.0                                                 []   \n",
       "21854    455815.0   122.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
       "22151         0.0    89.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
       "23044         0.0    90.0             [{'iso_639_1': 'da', 'name': 'Dansk'}]   \n",
       "23534    115860.0    95.0          [{'iso_639_1': 'fr', 'name': 'Français'}]   \n",
       "24164   1359497.0   118.0  [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...   \n",
       "24844         0.0    85.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
       "26625         0.0   168.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...   \n",
       "28860         0.0    92.0                                                 []   \n",
       "29374         0.0   137.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
       "30001         0.0    89.0               [{'iso_639_1': 'ja', 'name': '日本語'}]   \n",
       "33184         0.0   122.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...   \n",
       "33743  38793283.0    94.0  [{'iso_639_1': 'cs', 'name': 'Český'}, {'iso_6...   \n",
       "33826  33013805.0   113.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
       "35798         0.0    57.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
       "38871         0.0    70.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
       "40040         0.0   122.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...   \n",
       "40276         0.0    62.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
       "44821  68411275.0    93.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
       "44826  28023563.0    75.0               [{'iso_639_1': 'ja', 'name': '日本語'}]   \n",
       "45265   1359497.0   118.0  [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...   \n",
       "\n",
       "         status                                            tagline  \\\n",
       "676    Released                            A love, a hope, a wall.   \n",
       "838    Released                                                NaN   \n",
       "949    Released          Every woman who has loved will understand   \n",
       "1465   Released                            A love, a hope, a wall.   \n",
       "2564   Released                              One Nation. Underfed.   \n",
       "4114   Released                      Pokémon: Spell of the Unknown   \n",
       "4356   Released                                                NaN   \n",
       "5130   Released  The adventure of a lifetime, in a few mere sec...   \n",
       "5535   Released                                                NaN   \n",
       "5710   Released  From the very beginning, they knew they'd be f...   \n",
       "5865   Released            Some things are better left top secret.   \n",
       "7345   Released  There is no solitude greater than that of the ...   \n",
       "8068   Released                                                NaN   \n",
       "9165   Released  There is no solitude greater than that of the ...   \n",
       "9327   Released                                                NaN   \n",
       "9576   Released                                                NaN   \n",
       "10419  Released                                                NaN   \n",
       "11155  Released                                                NaN   \n",
       "11342  Released                                                NaN   \n",
       "12066  Released                                                NaN   \n",
       "13220  Released                                                NaN   \n",
       "13261  Released  Which one is the first to return - memory or t...   \n",
       "13375  Released  Which one is the first to return - memory or t...   \n",
       "13603  Released                                                NaN   \n",
       "13946  Released                                                NaN   \n",
       "14000  Released                                                NaN   \n",
       "14012  Released                                                NaN   \n",
       "15074  Released          Every woman who has loved will understand   \n",
       "15702   Rumored                                                NaN   \n",
       "15765  Released                                                NaN   \n",
       "16167  Released  Actually produced during the Great Newfoundlan...   \n",
       "16764  Released  Which one is the first to return - memory or t...   \n",
       "17229  Released                                                NaN   \n",
       "19890  Released                                                NaN   \n",
       "19925  Released                                                NaN   \n",
       "20843  Released                                                NaN   \n",
       "20899  Released  From the very beginning, they knew they'd be f...   \n",
       "21116  Released                              One Nation. Underfed.   \n",
       "21165  Released                                                NaN   \n",
       "21854  Released                                                NaN   \n",
       "22151  Released                                                NaN   \n",
       "23044  Released                                                NaN   \n",
       "23534  Released                                                NaN   \n",
       "24164  Released                                                NaN   \n",
       "24844  Released                                                NaN   \n",
       "26625  Released                                                NaN   \n",
       "28860  Released                                                NaN   \n",
       "29374   Rumored                                                NaN   \n",
       "30001  Released                                                NaN   \n",
       "33184  Released                                                NaN   \n",
       "33743  Released  The adventure of a lifetime, in a few mere sec...   \n",
       "33826  Released            Some things are better left top secret.   \n",
       "35798  Released                                                NaN   \n",
       "38871  Released  Actually produced during the Great Newfoundlan...   \n",
       "40040  Released                                                NaN   \n",
       "40276  Released                                                NaN   \n",
       "44821  Released                      Pokémon: Spell of the Unknown   \n",
       "44826  Released                                                NaN   \n",
       "45265  Released                                                NaN   \n",
       "\n",
       "                                             title  video vote_average  \\\n",
       "676                                    The Promise  False          5.0   \n",
       "838                                           Wife  False          0.0   \n",
       "949                             A Farewell to Arms  False          6.2   \n",
       "1465                                   The Promise  False          5.0   \n",
       "2564                          A Place at the Table  False          6.9   \n",
       "4114                 Pokémon: Spell of the Unknown  False          6.0   \n",
       "4356                          Camille Claudel 1915  False          7.0   \n",
       "5130                                 Clockstoppers  False          4.9   \n",
       "5535   Pokémon 4Ever: Celebi - Voice of the Forest  False          5.7   \n",
       "5710                               Rich and Famous  False          4.9   \n",
       "5865               Confessions of a Dangerous Mind  False          6.6   \n",
       "7345                                   Le Samouraï  False          7.9   \n",
       "8068                                   The Warrior  False          6.3   \n",
       "9165                                   Le Samouraï  False          7.9   \n",
       "9327                                   The Warrior  False          6.3   \n",
       "9576                      The Phantom of the Opera  False          5.0   \n",
       "10419                                       Bubble  False          6.4   \n",
       "11155                                   Black Gold  False          5.9   \n",
       "11342                                      Offside  False          6.7   \n",
       "12066                                       Bubble  False          6.4   \n",
       "13220             Why We Fight: Divide and Conquer  False          5.0   \n",
       "13261                                     Blackout  False          6.7   \n",
       "13375                                     Blackout  False          6.7   \n",
       "13603               Nana, the True Key of Pleasure  False          4.7   \n",
       "13946                         Seven Years Bad Luck  False          5.6   \n",
       "14000                             Days of Darkness  False          5.0   \n",
       "14012                                         Deal  False          5.2   \n",
       "15074                           A Farewell to Arms  False          6.2   \n",
       "15702                                    King Lear  False          8.0   \n",
       "15765                                      Offside  False          6.7   \n",
       "16167                                   The Viking  False          0.0   \n",
       "16764                                     Blackout  False          6.7   \n",
       "17229                                  Brotherhood  False          7.1   \n",
       "19890                                  The Tempest  False          0.0   \n",
       "19925                                 The Congress  False          6.4   \n",
       "20843                                   Black Gold  False          5.9   \n",
       "20899                              Rich and Famous  False          4.9   \n",
       "21116                         A Place at the Table  False          6.9   \n",
       "21165                                  The Tempest  False          0.0   \n",
       "21854                                 The Congress  False          6.4   \n",
       "22151                             Days of Darkness  False          5.0   \n",
       "23044                                  Brotherhood  False          7.1   \n",
       "23534                         Camille Claudel 1915  False          7.0   \n",
       "24164                                Force Majeure  False          6.8   \n",
       "24844                                         Deal  False          5.2   \n",
       "26625                     The Phantom of the Opera  False          5.0   \n",
       "28860               Nana, the True Key of Pleasure  False          4.7   \n",
       "29374                                    King Lear  False          8.0   \n",
       "30001                                         Wife  False          0.0   \n",
       "33184                        Cemetery of Splendour  False          4.4   \n",
       "33743                                Clockstoppers  False          4.9   \n",
       "33826              Confessions of a Dangerous Mind  False          6.6   \n",
       "35798             Why We Fight: Divide and Conquer  False          5.0   \n",
       "38871                                   The Viking  False          0.0   \n",
       "40040                        Cemetery of Splendour  False          4.4   \n",
       "40276                         Seven Years Bad Luck  False          5.6   \n",
       "44821                Pokémon: Spell of the Unknown  False          6.0   \n",
       "44826  Pokémon 4Ever: Celebi - Voice of the Forest  False          5.7   \n",
       "45265                                Force Majeure  False          6.8   \n",
       "\n",
       "      vote_count  \n",
       "676          1.0  \n",
       "838          0.0  \n",
       "949         29.0  \n",
       "1465         1.0  \n",
       "2564         7.0  \n",
       "4114       143.0  \n",
       "4356        20.0  \n",
       "5130        89.0  \n",
       "5535        82.0  \n",
       "5710         7.0  \n",
       "5865       281.0  \n",
       "7345       187.0  \n",
       "8068        15.0  \n",
       "9165       187.0  \n",
       "9327        15.0  \n",
       "9576         3.0  \n",
       "10419       36.0  \n",
       "11155       77.0  \n",
       "11342       27.0  \n",
       "12066       36.0  \n",
       "13220        1.0  \n",
       "13261        3.0  \n",
       "13375        3.0  \n",
       "13603        3.0  \n",
       "13946        4.0  \n",
       "14000        5.0  \n",
       "14012       22.0  \n",
       "15074       29.0  \n",
       "15702        3.0  \n",
       "15765       27.0  \n",
       "16167        0.0  \n",
       "16764        3.0  \n",
       "17229       21.0  \n",
       "19890        0.0  \n",
       "19925      165.0  \n",
       "20843       77.0  \n",
       "20899        7.0  \n",
       "21116        7.0  \n",
       "21165        0.0  \n",
       "21854      165.0  \n",
       "22151        5.0  \n",
       "23044       21.0  \n",
       "23534       20.0  \n",
       "24164      255.0  \n",
       "24844       22.0  \n",
       "26625        3.0  \n",
       "28860        3.0  \n",
       "29374        3.0  \n",
       "30001        0.0  \n",
       "33184       50.0  \n",
       "33743       90.0  \n",
       "33826      281.0  \n",
       "35798        1.0  \n",
       "38871        0.0  \n",
       "40040       50.0  \n",
       "40276        4.0  \n",
       "44821      144.0  \n",
       "44826       82.0  \n",
       "45265      255.0  \n",
       "\n",
       "[59 rows x 24 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>adult</th>\n",
       "      <th>belongs_to_collection</th>\n",
       "      <th>budget</th>\n",
       "      <th>genres</th>\n",
       "      <th>homepage</th>\n",
       "      <th>id</th>\n",
       "      <th>imdb_id</th>\n",
       "      <th>original_language</th>\n",
       "      <th>original_title</th>\n",
       "      <th>overview</th>\n",
       "      <th>...</th>\n",
       "      <th>release_date</th>\n",
       "      <th>revenue</th>\n",
       "      <th>runtime</th>\n",
       "      <th>spoken_languages</th>\n",
       "      <th>status</th>\n",
       "      <th>tagline</th>\n",
       "      <th>title</th>\n",
       "      <th>video</th>\n",
       "      <th>vote_average</th>\n",
       "      <th>vote_count</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>676</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>105045.0</td>\n",
       "      <td>tt0111613</td>\n",
       "      <td>de</td>\n",
       "      <td>Das Versprechen</td>\n",
       "      <td>East-Berlin, 1961, shortly after the erection ...</td>\n",
       "      <td>...</td>\n",
       "      <td>1995-02-16</td>\n",
       "      <td>0.0</td>\n",
       "      <td>115.0</td>\n",
       "      <td>[{'iso_639_1': 'de', 'name': 'Deutsch'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>A love, a hope, a wall.</td>\n",
       "      <td>The Promise</td>\n",
       "      <td>False</td>\n",
       "      <td>5.0</td>\n",
       "      <td>1.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>838</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 18, 'name': 'Drama'}]</td>\n",
       "      <td>NaN</td>\n",
       "      <td>132641.0</td>\n",
       "      <td>tt0046468</td>\n",
       "      <td>ja</td>\n",
       "      <td>Tsuma</td>\n",
       "      <td>Ten years into a marriage, the wife is disappo...</td>\n",
       "      <td>...</td>\n",
       "      <td>1953-04-29</td>\n",
       "      <td>0.0</td>\n",
       "      <td>89.0</td>\n",
       "      <td>[{'iso_639_1': 'ja', 'name': '日本語'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Wife</td>\n",
       "      <td>False</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>949</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>4.0</td>\n",
       "      <td>[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>22649.0</td>\n",
       "      <td>tt0022879</td>\n",
       "      <td>en</td>\n",
       "      <td>A Farewell to Arms</td>\n",
       "      <td>British nurse Catherine Barkley (Helen Hayes) ...</td>\n",
       "      <td>...</td>\n",
       "      <td>1932-12-08</td>\n",
       "      <td>25.0</td>\n",
       "      <td>89.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>Every woman who has loved will understand</td>\n",
       "      <td>A Farewell to Arms</td>\n",
       "      <td>False</td>\n",
       "      <td>6.2</td>\n",
       "      <td>29.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1465</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>105045.0</td>\n",
       "      <td>tt0111613</td>\n",
       "      <td>de</td>\n",
       "      <td>Das Versprechen</td>\n",
       "      <td>East-Berlin, 1961, shortly after the erection ...</td>\n",
       "      <td>...</td>\n",
       "      <td>1995-02-16</td>\n",
       "      <td>0.0</td>\n",
       "      <td>115.0</td>\n",
       "      <td>[{'iso_639_1': 'de', 'name': 'Deutsch'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>A love, a hope, a wall.</td>\n",
       "      <td>The Promise</td>\n",
       "      <td>False</td>\n",
       "      <td>5.0</td>\n",
       "      <td>1.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2564</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 99, 'name': 'Documentary'}]</td>\n",
       "      <td>NaN</td>\n",
       "      <td>84198.0</td>\n",
       "      <td>tt1736049</td>\n",
       "      <td>en</td>\n",
       "      <td>A Place at the Table</td>\n",
       "      <td>Using personal stories, this powerful document...</td>\n",
       "      <td>...</td>\n",
       "      <td>2012-03-22</td>\n",
       "      <td>0.0</td>\n",
       "      <td>84.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>One Nation. Underfed.</td>\n",
       "      <td>A Place at the Table</td>\n",
       "      <td>False</td>\n",
       "      <td>6.9</td>\n",
       "      <td>7.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4114</th>\n",
       "      <td>False</td>\n",
       "      <td>{'id': 34055, 'name': 'Pokémon Collection', 'p...</td>\n",
       "      <td>16000000.0</td>\n",
       "      <td>[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...</td>\n",
       "      <td>http://movies.warnerbros.com/pk3/</td>\n",
       "      <td>10991.0</td>\n",
       "      <td>tt0235679</td>\n",
       "      <td>ja</td>\n",
       "      <td>Pokémon 3: The Movie</td>\n",
       "      <td>When Molly Hale's sadness of her father's disa...</td>\n",
       "      <td>...</td>\n",
       "      <td>2000-07-08</td>\n",
       "      <td>68411275.0</td>\n",
       "      <td>93.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>Pokémon: Spell of the Unknown</td>\n",
       "      <td>Pokémon: Spell of the Unknown</td>\n",
       "      <td>False</td>\n",
       "      <td>6.0</td>\n",
       "      <td>143.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4356</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>3512454.0</td>\n",
       "      <td>[{'id': 18, 'name': 'Drama'}]</td>\n",
       "      <td>NaN</td>\n",
       "      <td>110428.0</td>\n",
       "      <td>tt2018086</td>\n",
       "      <td>fr</td>\n",
       "      <td>Camille Claudel 1915</td>\n",
       "      <td>Winter, 1915. Confined by her family to an asy...</td>\n",
       "      <td>...</td>\n",
       "      <td>2013-03-13</td>\n",
       "      <td>115860.0</td>\n",
       "      <td>95.0</td>\n",
       "      <td>[{'iso_639_1': 'fr', 'name': 'Français'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Camille Claudel 1915</td>\n",
       "      <td>False</td>\n",
       "      <td>7.0</td>\n",
       "      <td>20.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5130</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>26000000.0</td>\n",
       "      <td>[{'id': 12, 'name': 'Adventure'}, {'id': 10751...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>15028.0</td>\n",
       "      <td>tt0157472</td>\n",
       "      <td>en</td>\n",
       "      <td>Clockstoppers</td>\n",
       "      <td>Until now, Zak Gibbs' greatest challenge has b...</td>\n",
       "      <td>...</td>\n",
       "      <td>2002-03-17</td>\n",
       "      <td>38793283.0</td>\n",
       "      <td>94.0</td>\n",
       "      <td>[{'iso_639_1': 'cs', 'name': 'Český'}, {'iso_6...</td>\n",
       "      <td>Released</td>\n",
       "      <td>The adventure of a lifetime, in a few mere sec...</td>\n",
       "      <td>Clockstoppers</td>\n",
       "      <td>False</td>\n",
       "      <td>4.9</td>\n",
       "      <td>89.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5535</th>\n",
       "      <td>False</td>\n",
       "      <td>{'id': 34055, 'name': 'Pokémon Collection', 'p...</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...</td>\n",
       "      <td>http://www.pokemon.com/us/movies/movie-pokemon...</td>\n",
       "      <td>12600.0</td>\n",
       "      <td>tt0287635</td>\n",
       "      <td>ja</td>\n",
       "      <td>劇場版ポケットモンスター セレビィ 時を越えた遭遇（であい）</td>\n",
       "      <td>All your favorite Pokémon characters are back,...</td>\n",
       "      <td>...</td>\n",
       "      <td>2001-07-06</td>\n",
       "      <td>28023563.0</td>\n",
       "      <td>75.0</td>\n",
       "      <td>[{'iso_639_1': 'ja', 'name': '日本語'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Pokémon 4Ever: Celebi - Voice of the Forest</td>\n",
       "      <td>False</td>\n",
       "      <td>5.7</td>\n",
       "      <td>82.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5710</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 18, 'name': 'Drama'}]</td>\n",
       "      <td>NaN</td>\n",
       "      <td>109962.0</td>\n",
       "      <td>tt0082992</td>\n",
       "      <td>en</td>\n",
       "      <td>Rich and Famous</td>\n",
       "      <td>Two literary women compete for 20 years: one w...</td>\n",
       "      <td>...</td>\n",
       "      <td>1981-09-23</td>\n",
       "      <td>0.0</td>\n",
       "      <td>115.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>From the very beginning, they knew they'd be f...</td>\n",
       "      <td>Rich and Famous</td>\n",
       "      <td>False</td>\n",
       "      <td>4.9</td>\n",
       "      <td>7.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5865</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>30000000.0</td>\n",
       "      <td>[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>4912.0</td>\n",
       "      <td>tt0270288</td>\n",
       "      <td>en</td>\n",
       "      <td>Confessions of a Dangerous Mind</td>\n",
       "      <td>Television made him famous, but his biggest hi...</td>\n",
       "      <td>...</td>\n",
       "      <td>2002-12-30</td>\n",
       "      <td>33013805.0</td>\n",
       "      <td>113.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>Some things are better left top secret.</td>\n",
       "      <td>Confessions of a Dangerous Mind</td>\n",
       "      <td>False</td>\n",
       "      <td>6.6</td>\n",
       "      <td>281.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>7345</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>5511.0</td>\n",
       "      <td>tt0062229</td>\n",
       "      <td>fr</td>\n",
       "      <td>Le Samouraï</td>\n",
       "      <td>Hitman Jef Costello is a perfectionist who alw...</td>\n",
       "      <td>...</td>\n",
       "      <td>1967-10-25</td>\n",
       "      <td>39481.0</td>\n",
       "      <td>105.0</td>\n",
       "      <td>[{'iso_639_1': 'fr', 'name': 'Français'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>There is no solitude greater than that of the ...</td>\n",
       "      <td>Le Samouraï</td>\n",
       "      <td>False</td>\n",
       "      <td>7.9</td>\n",
       "      <td>187.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>8068</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>23305.0</td>\n",
       "      <td>tt0295682</td>\n",
       "      <td>en</td>\n",
       "      <td>The Warrior</td>\n",
       "      <td>In feudal India, a warrior (Khan) who renounce...</td>\n",
       "      <td>...</td>\n",
       "      <td>2001-09-23</td>\n",
       "      <td>0.0</td>\n",
       "      <td>86.0</td>\n",
       "      <td>[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>The Warrior</td>\n",
       "      <td>False</td>\n",
       "      <td>6.3</td>\n",
       "      <td>15.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9165</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>5511.0</td>\n",
       "      <td>tt0062229</td>\n",
       "      <td>fr</td>\n",
       "      <td>Le Samouraï</td>\n",
       "      <td>Hitman Jef Costello is a perfectionist who alw...</td>\n",
       "      <td>...</td>\n",
       "      <td>1967-10-25</td>\n",
       "      <td>39481.0</td>\n",
       "      <td>105.0</td>\n",
       "      <td>[{'iso_639_1': 'fr', 'name': 'Français'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>There is no solitude greater than that of the ...</td>\n",
       "      <td>Le Samouraï</td>\n",
       "      <td>False</td>\n",
       "      <td>7.9</td>\n",
       "      <td>187.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9327</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>23305.0</td>\n",
       "      <td>tt0295682</td>\n",
       "      <td>en</td>\n",
       "      <td>The Warrior</td>\n",
       "      <td>In feudal India, a warrior (Khan) who renounce...</td>\n",
       "      <td>...</td>\n",
       "      <td>2001-09-23</td>\n",
       "      <td>0.0</td>\n",
       "      <td>86.0</td>\n",
       "      <td>[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>The Warrior</td>\n",
       "      <td>False</td>\n",
       "      <td>6.3</td>\n",
       "      <td>15.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9576</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>10000000.0</td>\n",
       "      <td>[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>69234.0</td>\n",
       "      <td>tt0100361</td>\n",
       "      <td>en</td>\n",
       "      <td>The Phantom of the Opera</td>\n",
       "      <td>Count de Chagnie has discovered Christine's si...</td>\n",
       "      <td>...</td>\n",
       "      <td>1990-03-18</td>\n",
       "      <td>0.0</td>\n",
       "      <td>168.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}, {'iso...</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>The Phantom of the Opera</td>\n",
       "      <td>False</td>\n",
       "      <td>5.0</td>\n",
       "      <td>3.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>10419</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>1600000.0</td>\n",
       "      <td>[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...</td>\n",
       "      <td>http://www.bubblethefilm.com/</td>\n",
       "      <td>14788.0</td>\n",
       "      <td>tt0454792</td>\n",
       "      <td>en</td>\n",
       "      <td>Bubble</td>\n",
       "      <td>Set against the backdrop of a decaying Midwest...</td>\n",
       "      <td>...</td>\n",
       "      <td>2005-09-03</td>\n",
       "      <td>0.0</td>\n",
       "      <td>73.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Bubble</td>\n",
       "      <td>False</td>\n",
       "      <td>6.4</td>\n",
       "      <td>36.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>11155</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>40000000.0</td>\n",
       "      <td>[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>77221.0</td>\n",
       "      <td>tt1701210</td>\n",
       "      <td>en</td>\n",
       "      <td>Black Gold</td>\n",
       "      <td>On the Arabian Peninsula in the 1930s, two war...</td>\n",
       "      <td>...</td>\n",
       "      <td>2011-12-21</td>\n",
       "      <td>5446000.0</td>\n",
       "      <td>130.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Black Gold</td>\n",
       "      <td>False</td>\n",
       "      <td>5.9</td>\n",
       "      <td>77.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>11342</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>2500.0</td>\n",
       "      <td>[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>13209.0</td>\n",
       "      <td>tt0499537</td>\n",
       "      <td>fa</td>\n",
       "      <td>Offside</td>\n",
       "      <td>Since women are banned from soccer matches, Ir...</td>\n",
       "      <td>...</td>\n",
       "      <td>2006-05-26</td>\n",
       "      <td>0.0</td>\n",
       "      <td>93.0</td>\n",
       "      <td>[{'iso_639_1': 'fa', 'name': 'فارسی'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Offside</td>\n",
       "      <td>False</td>\n",
       "      <td>6.7</td>\n",
       "      <td>27.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12066</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>1600000.0</td>\n",
       "      <td>[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...</td>\n",
       "      <td>http://www.bubblethefilm.com/</td>\n",
       "      <td>14788.0</td>\n",
       "      <td>tt0454792</td>\n",
       "      <td>en</td>\n",
       "      <td>Bubble</td>\n",
       "      <td>Set against the backdrop of a decaying Midwest...</td>\n",
       "      <td>...</td>\n",
       "      <td>2005-09-03</td>\n",
       "      <td>0.0</td>\n",
       "      <td>73.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Bubble</td>\n",
       "      <td>False</td>\n",
       "      <td>6.4</td>\n",
       "      <td>36.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>13220</th>\n",
       "      <td>False</td>\n",
       "      <td>{'id': 158365, 'name': 'Why We Fight', 'poster...</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 99, 'name': 'Documentary'}]</td>\n",
       "      <td>NaN</td>\n",
       "      <td>159849.0</td>\n",
       "      <td>tt0173769</td>\n",
       "      <td>en</td>\n",
       "      <td>Why We Fight: Divide and Conquer</td>\n",
       "      <td>The third film of Frank Capra's 'Why We Fight\"...</td>\n",
       "      <td>...</td>\n",
       "      <td>1943-01-01</td>\n",
       "      <td>0.0</td>\n",
       "      <td>57.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Why We Fight: Divide and Conquer</td>\n",
       "      <td>False</td>\n",
       "      <td>5.0</td>\n",
       "      <td>1.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>13261</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>141971.0</td>\n",
       "      <td>tt1180333</td>\n",
       "      <td>fi</td>\n",
       "      <td>Blackout</td>\n",
       "      <td>Recovering from a nail gun shot to the head an...</td>\n",
       "      <td>...</td>\n",
       "      <td>2008-12-26</td>\n",
       "      <td>0.0</td>\n",
       "      <td>108.0</td>\n",
       "      <td>[{'iso_639_1': 'fi', 'name': 'suomi'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>Which one is the first to return - memory or t...</td>\n",
       "      <td>Blackout</td>\n",
       "      <td>False</td>\n",
       "      <td>6.7</td>\n",
       "      <td>3.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>13375</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>141971.0</td>\n",
       "      <td>tt1180333</td>\n",
       "      <td>fi</td>\n",
       "      <td>Blackout</td>\n",
       "      <td>Recovering from a nail gun shot to the head an...</td>\n",
       "      <td>...</td>\n",
       "      <td>2008-12-26</td>\n",
       "      <td>0.0</td>\n",
       "      <td>108.0</td>\n",
       "      <td>[{'iso_639_1': 'fi', 'name': 'suomi'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>Which one is the first to return - memory or t...</td>\n",
       "      <td>Blackout</td>\n",
       "      <td>False</td>\n",
       "      <td>6.7</td>\n",
       "      <td>3.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>13603</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>168538.0</td>\n",
       "      <td>tt0084387</td>\n",
       "      <td>en</td>\n",
       "      <td>Nana</td>\n",
       "      <td>In Zola's Paris, an ingenue arrives at a tony ...</td>\n",
       "      <td>...</td>\n",
       "      <td>1983-06-13</td>\n",
       "      <td>0.0</td>\n",
       "      <td>92.0</td>\n",
       "      <td>[]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Nana, the True Key of Pleasure</td>\n",
       "      <td>False</td>\n",
       "      <td>4.7</td>\n",
       "      <td>3.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>13946</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 35, 'name': 'Comedy'}]</td>\n",
       "      <td>NaN</td>\n",
       "      <td>97995.0</td>\n",
       "      <td>tt0127834</td>\n",
       "      <td>en</td>\n",
       "      <td>Seven Years Bad Luck</td>\n",
       "      <td>After breaking a mirror in his home, superstit...</td>\n",
       "      <td>...</td>\n",
       "      <td>1921-02-06</td>\n",
       "      <td>0.0</td>\n",
       "      <td>62.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Seven Years Bad Luck</td>\n",
       "      <td>False</td>\n",
       "      <td>5.6</td>\n",
       "      <td>4.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>14000</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...</td>\n",
       "      <td>http://www.daysofdarknessthemovie.com/</td>\n",
       "      <td>18440.0</td>\n",
       "      <td>tt0499456</td>\n",
       "      <td>en</td>\n",
       "      <td>Days of Darkness</td>\n",
       "      <td>When a comet strikes Earth and kicks up a clou...</td>\n",
       "      <td>...</td>\n",
       "      <td>2007-01-01</td>\n",
       "      <td>0.0</td>\n",
       "      <td>89.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Days of Darkness</td>\n",
       "      <td>False</td>\n",
       "      <td>5.0</td>\n",
       "      <td>5.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>14012</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...</td>\n",
       "      <td>http://www.dealthemovie.com/</td>\n",
       "      <td>11115.0</td>\n",
       "      <td>tt0446676</td>\n",
       "      <td>en</td>\n",
       "      <td>Deal</td>\n",
       "      <td>As an ex-gambler teaches a hot-shot college ki...</td>\n",
       "      <td>...</td>\n",
       "      <td>2008-01-29</td>\n",
       "      <td>0.0</td>\n",
       "      <td>85.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Deal</td>\n",
       "      <td>False</td>\n",
       "      <td>5.2</td>\n",
       "      <td>22.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>15074</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>4.0</td>\n",
       "      <td>[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>22649.0</td>\n",
       "      <td>tt0022879</td>\n",
       "      <td>en</td>\n",
       "      <td>A Farewell to Arms</td>\n",
       "      <td>British nurse Catherine Barkley (Helen Hayes) ...</td>\n",
       "      <td>...</td>\n",
       "      <td>1932-12-08</td>\n",
       "      <td>25.0</td>\n",
       "      <td>89.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>Every woman who has loved will understand</td>\n",
       "      <td>A Farewell to Arms</td>\n",
       "      <td>False</td>\n",
       "      <td>6.2</td>\n",
       "      <td>29.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>15702</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>42495.0</td>\n",
       "      <td>tt0067306</td>\n",
       "      <td>en</td>\n",
       "      <td>King Lear</td>\n",
       "      <td>King Lear, old and tired, divides his kingdom ...</td>\n",
       "      <td>...</td>\n",
       "      <td>1971-02-04</td>\n",
       "      <td>0.0</td>\n",
       "      <td>137.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Rumored</td>\n",
       "      <td>NaN</td>\n",
       "      <td>King Lear</td>\n",
       "      <td>False</td>\n",
       "      <td>8.0</td>\n",
       "      <td>3.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>15765</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>2500.0</td>\n",
       "      <td>[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>13209.0</td>\n",
       "      <td>tt0499537</td>\n",
       "      <td>fa</td>\n",
       "      <td>Offside</td>\n",
       "      <td>Since women are banned from soccer matches, Ir...</td>\n",
       "      <td>...</td>\n",
       "      <td>2006-05-26</td>\n",
       "      <td>0.0</td>\n",
       "      <td>93.0</td>\n",
       "      <td>[{'iso_639_1': 'fa', 'name': 'فارسی'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Offside</td>\n",
       "      <td>False</td>\n",
       "      <td>6.7</td>\n",
       "      <td>27.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>16167</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>99080.0</td>\n",
       "      <td>tt0022537</td>\n",
       "      <td>en</td>\n",
       "      <td>The Viking</td>\n",
       "      <td>Originally called White Thunder, American prod...</td>\n",
       "      <td>...</td>\n",
       "      <td>1931-06-21</td>\n",
       "      <td>0.0</td>\n",
       "      <td>70.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>Actually produced during the Great Newfoundlan...</td>\n",
       "      <td>The Viking</td>\n",
       "      <td>False</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>16764</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>141971.0</td>\n",
       "      <td>tt1180333</td>\n",
       "      <td>fi</td>\n",
       "      <td>Blackout</td>\n",
       "      <td>Recovering from a nail gun shot to the head an...</td>\n",
       "      <td>...</td>\n",
       "      <td>2008-12-26</td>\n",
       "      <td>0.0</td>\n",
       "      <td>108.0</td>\n",
       "      <td>[{'iso_639_1': 'fi', 'name': 'suomi'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>Which one is the first to return - memory or t...</td>\n",
       "      <td>Blackout</td>\n",
       "      <td>False</td>\n",
       "      <td>6.7</td>\n",
       "      <td>3.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>17229</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 18, 'name': 'Drama'}]</td>\n",
       "      <td>NaN</td>\n",
       "      <td>25541.0</td>\n",
       "      <td>tt1327820</td>\n",
       "      <td>da</td>\n",
       "      <td>Broderskab</td>\n",
       "      <td>Former Danish servicemen Lars and Jimmy are th...</td>\n",
       "      <td>...</td>\n",
       "      <td>2009-10-21</td>\n",
       "      <td>0.0</td>\n",
       "      <td>90.0</td>\n",
       "      <td>[{'iso_639_1': 'da', 'name': 'Dansk'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Brotherhood</td>\n",
       "      <td>False</td>\n",
       "      <td>7.1</td>\n",
       "      <td>21.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>19890</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>119916.0</td>\n",
       "      <td>tt0080000</td>\n",
       "      <td>en</td>\n",
       "      <td>The Tempest</td>\n",
       "      <td>Prospero, the true Duke of Milan is now living...</td>\n",
       "      <td>...</td>\n",
       "      <td>1980-02-27</td>\n",
       "      <td>0.0</td>\n",
       "      <td>123.0</td>\n",
       "      <td>[]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>The Tempest</td>\n",
       "      <td>False</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>19925</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>152795.0</td>\n",
       "      <td>tt1821641</td>\n",
       "      <td>en</td>\n",
       "      <td>The Congress</td>\n",
       "      <td>More than two decades after catapulting to sta...</td>\n",
       "      <td>...</td>\n",
       "      <td>2013-05-16</td>\n",
       "      <td>455815.0</td>\n",
       "      <td>122.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>The Congress</td>\n",
       "      <td>False</td>\n",
       "      <td>6.4</td>\n",
       "      <td>165.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>20843</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>40000000.0</td>\n",
       "      <td>[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>77221.0</td>\n",
       "      <td>tt1701210</td>\n",
       "      <td>en</td>\n",
       "      <td>Black Gold</td>\n",
       "      <td>On the Arabian Peninsula in the 1930s, two war...</td>\n",
       "      <td>...</td>\n",
       "      <td>2011-12-21</td>\n",
       "      <td>5446000.0</td>\n",
       "      <td>130.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Black Gold</td>\n",
       "      <td>False</td>\n",
       "      <td>5.9</td>\n",
       "      <td>77.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>20899</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 18, 'name': 'Drama'}]</td>\n",
       "      <td>NaN</td>\n",
       "      <td>109962.0</td>\n",
       "      <td>tt0082992</td>\n",
       "      <td>en</td>\n",
       "      <td>Rich and Famous</td>\n",
       "      <td>Two literary women compete for 20 years: one w...</td>\n",
       "      <td>...</td>\n",
       "      <td>1981-09-23</td>\n",
       "      <td>0.0</td>\n",
       "      <td>115.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>From the very beginning, they knew they'd be f...</td>\n",
       "      <td>Rich and Famous</td>\n",
       "      <td>False</td>\n",
       "      <td>4.9</td>\n",
       "      <td>7.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>21116</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 99, 'name': 'Documentary'}]</td>\n",
       "      <td>NaN</td>\n",
       "      <td>84198.0</td>\n",
       "      <td>tt1736049</td>\n",
       "      <td>en</td>\n",
       "      <td>A Place at the Table</td>\n",
       "      <td>Using personal stories, this powerful document...</td>\n",
       "      <td>...</td>\n",
       "      <td>2012-03-22</td>\n",
       "      <td>0.0</td>\n",
       "      <td>84.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>One Nation. Underfed.</td>\n",
       "      <td>A Place at the Table</td>\n",
       "      <td>False</td>\n",
       "      <td>6.9</td>\n",
       "      <td>7.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>21165</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>119916.0</td>\n",
       "      <td>tt0080000</td>\n",
       "      <td>en</td>\n",
       "      <td>The Tempest</td>\n",
       "      <td>Prospero, the true Duke of Milan is now living...</td>\n",
       "      <td>...</td>\n",
       "      <td>1980-02-27</td>\n",
       "      <td>0.0</td>\n",
       "      <td>123.0</td>\n",
       "      <td>[]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>The Tempest</td>\n",
       "      <td>False</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>21854</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>152795.0</td>\n",
       "      <td>tt1821641</td>\n",
       "      <td>en</td>\n",
       "      <td>The Congress</td>\n",
       "      <td>More than two decades after catapulting to sta...</td>\n",
       "      <td>...</td>\n",
       "      <td>2013-05-16</td>\n",
       "      <td>455815.0</td>\n",
       "      <td>122.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>The Congress</td>\n",
       "      <td>False</td>\n",
       "      <td>6.4</td>\n",
       "      <td>165.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>22151</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...</td>\n",
       "      <td>http://www.daysofdarknessthemovie.com/</td>\n",
       "      <td>18440.0</td>\n",
       "      <td>tt0499456</td>\n",
       "      <td>en</td>\n",
       "      <td>Days of Darkness</td>\n",
       "      <td>When a comet strikes Earth and kicks up a clou...</td>\n",
       "      <td>...</td>\n",
       "      <td>2007-01-01</td>\n",
       "      <td>0.0</td>\n",
       "      <td>89.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Days of Darkness</td>\n",
       "      <td>False</td>\n",
       "      <td>5.0</td>\n",
       "      <td>5.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>23044</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 18, 'name': 'Drama'}]</td>\n",
       "      <td>NaN</td>\n",
       "      <td>25541.0</td>\n",
       "      <td>tt1327820</td>\n",
       "      <td>da</td>\n",
       "      <td>Broderskab</td>\n",
       "      <td>Former Danish servicemen Lars and Jimmy are th...</td>\n",
       "      <td>...</td>\n",
       "      <td>2009-10-21</td>\n",
       "      <td>0.0</td>\n",
       "      <td>90.0</td>\n",
       "      <td>[{'iso_639_1': 'da', 'name': 'Dansk'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Brotherhood</td>\n",
       "      <td>False</td>\n",
       "      <td>7.1</td>\n",
       "      <td>21.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>23534</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>3512454.0</td>\n",
       "      <td>[{'id': 18, 'name': 'Drama'}]</td>\n",
       "      <td>NaN</td>\n",
       "      <td>110428.0</td>\n",
       "      <td>tt2018086</td>\n",
       "      <td>fr</td>\n",
       "      <td>Camille Claudel 1915</td>\n",
       "      <td>Winter, 1915. Confined by her family to an asy...</td>\n",
       "      <td>...</td>\n",
       "      <td>2013-03-13</td>\n",
       "      <td>115860.0</td>\n",
       "      <td>95.0</td>\n",
       "      <td>[{'iso_639_1': 'fr', 'name': 'Français'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Camille Claudel 1915</td>\n",
       "      <td>False</td>\n",
       "      <td>7.0</td>\n",
       "      <td>20.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>24164</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>265189.0</td>\n",
       "      <td>tt2121382</td>\n",
       "      <td>sv</td>\n",
       "      <td>Turist</td>\n",
       "      <td>While holidaying in the French Alps, a Swedish...</td>\n",
       "      <td>...</td>\n",
       "      <td>2014-08-15</td>\n",
       "      <td>1359497.0</td>\n",
       "      <td>118.0</td>\n",
       "      <td>[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Force Majeure</td>\n",
       "      <td>False</td>\n",
       "      <td>6.8</td>\n",
       "      <td>255.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>24844</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...</td>\n",
       "      <td>http://www.dealthemovie.com/</td>\n",
       "      <td>11115.0</td>\n",
       "      <td>tt0446676</td>\n",
       "      <td>en</td>\n",
       "      <td>Deal</td>\n",
       "      <td>As an ex-gambler teaches a hot-shot college ki...</td>\n",
       "      <td>...</td>\n",
       "      <td>2008-01-29</td>\n",
       "      <td>0.0</td>\n",
       "      <td>85.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Deal</td>\n",
       "      <td>False</td>\n",
       "      <td>5.2</td>\n",
       "      <td>22.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>26625</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>10000000.0</td>\n",
       "      <td>[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>69234.0</td>\n",
       "      <td>tt0100361</td>\n",
       "      <td>en</td>\n",
       "      <td>The Phantom of the Opera</td>\n",
       "      <td>Count de Chagnie has discovered Christine's si...</td>\n",
       "      <td>...</td>\n",
       "      <td>1990-03-18</td>\n",
       "      <td>0.0</td>\n",
       "      <td>168.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}, {'iso...</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>The Phantom of the Opera</td>\n",
       "      <td>False</td>\n",
       "      <td>5.0</td>\n",
       "      <td>3.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>28860</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>168538.0</td>\n",
       "      <td>tt0084387</td>\n",
       "      <td>en</td>\n",
       "      <td>Nana</td>\n",
       "      <td>In Zola's Paris, an ingenue arrives at a tony ...</td>\n",
       "      <td>...</td>\n",
       "      <td>1983-06-13</td>\n",
       "      <td>0.0</td>\n",
       "      <td>92.0</td>\n",
       "      <td>[]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Nana, the True Key of Pleasure</td>\n",
       "      <td>False</td>\n",
       "      <td>4.7</td>\n",
       "      <td>3.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>29374</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>42495.0</td>\n",
       "      <td>tt0067306</td>\n",
       "      <td>en</td>\n",
       "      <td>King Lear</td>\n",
       "      <td>King Lear, old and tired, divides his kingdom ...</td>\n",
       "      <td>...</td>\n",
       "      <td>1971-02-04</td>\n",
       "      <td>0.0</td>\n",
       "      <td>137.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Rumored</td>\n",
       "      <td>NaN</td>\n",
       "      <td>King Lear</td>\n",
       "      <td>False</td>\n",
       "      <td>8.0</td>\n",
       "      <td>3.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>30001</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 18, 'name': 'Drama'}]</td>\n",
       "      <td>NaN</td>\n",
       "      <td>132641.0</td>\n",
       "      <td>tt0046468</td>\n",
       "      <td>ja</td>\n",
       "      <td>Tsuma</td>\n",
       "      <td>Ten years into a marriage, the wife is disappo...</td>\n",
       "      <td>...</td>\n",
       "      <td>1953-04-29</td>\n",
       "      <td>0.0</td>\n",
       "      <td>89.0</td>\n",
       "      <td>[{'iso_639_1': 'ja', 'name': '日本語'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Wife</td>\n",
       "      <td>False</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>33184</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>980000.0</td>\n",
       "      <td>[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>298721.0</td>\n",
       "      <td>tt2818654</td>\n",
       "      <td>th</td>\n",
       "      <td>รักที่ขอนแก่น</td>\n",
       "      <td>In a hospital, ten soldiers are being treated ...</td>\n",
       "      <td>...</td>\n",
       "      <td>2015-09-02</td>\n",
       "      <td>0.0</td>\n",
       "      <td>122.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}, {'iso...</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Cemetery of Splendour</td>\n",
       "      <td>False</td>\n",
       "      <td>4.4</td>\n",
       "      <td>50.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>33743</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>26000000.0</td>\n",
       "      <td>[{'id': 12, 'name': 'Adventure'}, {'id': 10751...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>15028.0</td>\n",
       "      <td>tt0157472</td>\n",
       "      <td>en</td>\n",
       "      <td>Clockstoppers</td>\n",
       "      <td>Until now, Zak Gibbs' greatest challenge has b...</td>\n",
       "      <td>...</td>\n",
       "      <td>2002-03-17</td>\n",
       "      <td>38793283.0</td>\n",
       "      <td>94.0</td>\n",
       "      <td>[{'iso_639_1': 'cs', 'name': 'Český'}, {'iso_6...</td>\n",
       "      <td>Released</td>\n",
       "      <td>The adventure of a lifetime, in a few mere sec...</td>\n",
       "      <td>Clockstoppers</td>\n",
       "      <td>False</td>\n",
       "      <td>4.9</td>\n",
       "      <td>90.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>33826</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>30000000.0</td>\n",
       "      <td>[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>4912.0</td>\n",
       "      <td>tt0270288</td>\n",
       "      <td>en</td>\n",
       "      <td>Confessions of a Dangerous Mind</td>\n",
       "      <td>Television made him famous, but his biggest hi...</td>\n",
       "      <td>...</td>\n",
       "      <td>2002-12-30</td>\n",
       "      <td>33013805.0</td>\n",
       "      <td>113.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>Some things are better left top secret.</td>\n",
       "      <td>Confessions of a Dangerous Mind</td>\n",
       "      <td>False</td>\n",
       "      <td>6.6</td>\n",
       "      <td>281.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>35798</th>\n",
       "      <td>False</td>\n",
       "      <td>{'id': 158365, 'name': 'Why We Fight', 'poster...</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 99, 'name': 'Documentary'}]</td>\n",
       "      <td>NaN</td>\n",
       "      <td>159849.0</td>\n",
       "      <td>tt0173769</td>\n",
       "      <td>en</td>\n",
       "      <td>Why We Fight: Divide and Conquer</td>\n",
       "      <td>The third film of Frank Capra's 'Why We Fight\"...</td>\n",
       "      <td>...</td>\n",
       "      <td>1943-01-01</td>\n",
       "      <td>0.0</td>\n",
       "      <td>57.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Why We Fight: Divide and Conquer</td>\n",
       "      <td>False</td>\n",
       "      <td>5.0</td>\n",
       "      <td>1.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>38871</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>99080.0</td>\n",
       "      <td>tt0022537</td>\n",
       "      <td>en</td>\n",
       "      <td>The Viking</td>\n",
       "      <td>Originally called White Thunder, American prod...</td>\n",
       "      <td>...</td>\n",
       "      <td>1931-06-21</td>\n",
       "      <td>0.0</td>\n",
       "      <td>70.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>Actually produced during the Great Newfoundlan...</td>\n",
       "      <td>The Viking</td>\n",
       "      <td>False</td>\n",
       "      <td>0.0</td>\n",
       "      <td>0.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>40040</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>980000.0</td>\n",
       "      <td>[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>298721.0</td>\n",
       "      <td>tt2818654</td>\n",
       "      <td>th</td>\n",
       "      <td>รักที่ขอนแก่น</td>\n",
       "      <td>In a hospital, ten soldiers are being treated ...</td>\n",
       "      <td>...</td>\n",
       "      <td>2015-09-02</td>\n",
       "      <td>0.0</td>\n",
       "      <td>122.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}, {'iso...</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Cemetery of Splendour</td>\n",
       "      <td>False</td>\n",
       "      <td>4.4</td>\n",
       "      <td>50.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>40276</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 35, 'name': 'Comedy'}]</td>\n",
       "      <td>NaN</td>\n",
       "      <td>97995.0</td>\n",
       "      <td>tt0127834</td>\n",
       "      <td>en</td>\n",
       "      <td>Seven Years Bad Luck</td>\n",
       "      <td>After breaking a mirror in his home, superstit...</td>\n",
       "      <td>...</td>\n",
       "      <td>1921-02-06</td>\n",
       "      <td>0.0</td>\n",
       "      <td>62.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Seven Years Bad Luck</td>\n",
       "      <td>False</td>\n",
       "      <td>5.6</td>\n",
       "      <td>4.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>44821</th>\n",
       "      <td>False</td>\n",
       "      <td>{'id': 34055, 'name': 'Pokémon Collection', 'p...</td>\n",
       "      <td>16000000.0</td>\n",
       "      <td>[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...</td>\n",
       "      <td>http://movies.warnerbros.com/pk3/</td>\n",
       "      <td>10991.0</td>\n",
       "      <td>tt0235679</td>\n",
       "      <td>ja</td>\n",
       "      <td>Pokémon 3: The Movie</td>\n",
       "      <td>When Molly Hale's sadness of her father's disa...</td>\n",
       "      <td>...</td>\n",
       "      <td>2000-07-08</td>\n",
       "      <td>68411275.0</td>\n",
       "      <td>93.0</td>\n",
       "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>Pokémon: Spell of the Unknown</td>\n",
       "      <td>Pokémon: Spell of the Unknown</td>\n",
       "      <td>False</td>\n",
       "      <td>6.0</td>\n",
       "      <td>144.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>44826</th>\n",
       "      <td>False</td>\n",
       "      <td>{'id': 34055, 'name': 'Pokémon Collection', 'p...</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...</td>\n",
       "      <td>http://www.pokemon.com/us/movies/movie-pokemon...</td>\n",
       "      <td>12600.0</td>\n",
       "      <td>tt0287635</td>\n",
       "      <td>ja</td>\n",
       "      <td>劇場版ポケットモンスター セレビィ 時を越えた遭遇（であい）</td>\n",
       "      <td>All your favorite Pokémon characters are back,...</td>\n",
       "      <td>...</td>\n",
       "      <td>2001-07-06</td>\n",
       "      <td>28023563.0</td>\n",
       "      <td>75.0</td>\n",
       "      <td>[{'iso_639_1': 'ja', 'name': '日本語'}]</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Pokémon 4Ever: Celebi - Voice of the Forest</td>\n",
       "      <td>False</td>\n",
       "      <td>5.7</td>\n",
       "      <td>82.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>45265</th>\n",
       "      <td>False</td>\n",
       "      <td>[]</td>\n",
       "      <td>0.0</td>\n",
       "      <td>[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>265189.0</td>\n",
       "      <td>tt2121382</td>\n",
       "      <td>sv</td>\n",
       "      <td>Turist</td>\n",
       "      <td>While holidaying in the French Alps, a Swedish...</td>\n",
       "      <td>...</td>\n",
       "      <td>2014-08-15</td>\n",
       "      <td>1359497.0</td>\n",
       "      <td>118.0</td>\n",
       "      <td>[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...</td>\n",
       "      <td>Released</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Force Majeure</td>\n",
       "      <td>False</td>\n",
       "      <td>6.8</td>\n",
       "      <td>255.0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>59 rows × 24 columns</p>\n",
       "</div>"
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    },
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Duplicate IDs: [105045. 132641.  22649.  84198.  10991. 110428.  15028.  12600. 109962.\n",
      "   4912.   5511.  23305.  69234.  14788.  77221.  13209. 159849. 141971.\n",
      " 168538.  97995.  18440.  11115.  42495.  99080.  25541. 119916. 152795.\n",
      " 265189. 298721.]\n"
     ]
    }
   ],
   "execution_count": 35
  },
  {
   "cell_type": "markdown",
   "id": "9bb8ba10",
   "metadata": {},
   "source": [
    "# Drop duplicates"
   ]
  },
  {
   "cell_type": "code",
   "id": "fd9dc061",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-24T13:00:14.294601Z",
     "start_time": "2025-10-24T13:00:14.257732Z"
    }
   },
   "source": [
    "# Remove duplicate movie IDs, keep first occurrence\n",
    "movies = movies.drop_duplicates(subset='id', keep='first')\n"
   ],
   "outputs": [],
   "execution_count": 36
  },
  {
   "cell_type": "markdown",
   "id": "929ba095",
   "metadata": {},
   "source": [
    "# Prepare for db"
   ]
  },
  {
   "cell_type": "code",
   "id": "30b5224b",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-24T13:00:28.631567Z",
     "start_time": "2025-10-24T13:00:14.607897Z"
    }
   },
   "source": [
    "import pandas as pd\n",
    "import ast\n",
    "from collections import Counter\n",
    "\n",
    "# Ensure credits and keywords are parsed (safe to run twice)\n",
    "def parse_if_str(x):\n",
    "    if isinstance(x, str):\n",
    "        try:\n",
    "            return ast.literal_eval(x)\n",
    "        except Exception:\n",
    "            return []\n",
    "    return x if isinstance(x, list) else []\n",
    "\n",
    "credits[\"cast\"] = credits[\"cast\"].apply(parse_if_str)\n",
    "credits[\"crew\"] = credits[\"crew\"].apply(parse_if_str)\n",
    "\n",
    "keywords[\"keywords\"] = keywords[\"keywords\"].apply(parse_if_str)\n",
    "\n",
    "# Build mapping: person_id -> canonical name (most frequent)\n",
    "pairs = []\n",
    "for _, r in credits.iterrows():\n",
    "    for p in r[\"cast\"]:\n",
    "        if p.get(\"id\") is not None and p.get(\"name\"):\n",
    "            pairs.append((p[\"id\"], p[\"name\"]))\n",
    "    for p in r[\"crew\"]:\n",
    "        if p.get(\"id\") is not None and p.get(\"name\"):\n",
    "            pairs.append((p[\"id\"], p[\"name\"]))\n",
    "\n",
    "pairs_df = pd.DataFrame(pairs, columns=[\"person_id\", \"name\"])\n",
    "name_map = {}\n",
    "for pid, grp in pairs_df.groupby(\"person_id\"):\n",
    "    counts = Counter(grp[\"name\"])\n",
    "    # pick most frequent, break ties by longest string\n",
    "    max_freq = max(counts.values())\n",
    "    candidates = [n for n, c in counts.items() if c == max_freq]\n",
    "    canonical = max(candidates, key=len)\n",
    "    name_map[pid] = canonical\n"
   ],
   "outputs": [],
   "execution_count": 37
  },
  {
   "cell_type": "code",
   "id": "2035b5a5",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-24T13:00:30.019831Z",
     "start_time": "2025-10-24T13:00:28.958430Z"
    }
   },
   "source": [
    "# Helpers to extract \"name\" lists from already-parsed arrays\n",
    "def list_names(arr):\n",
    "    if isinstance(arr, list):\n",
    "        return [d.get(\"name\") for d in arr if isinstance(d, dict) and d.get(\"name\")]\n",
    "    return []\n",
    "\n",
    "def safe_collection(obj):\n",
    "    if isinstance(obj, dict) and obj.get(\"name\") and obj.get(\"id\") is not None:\n",
    "        return {\"name\": obj[\"name\"], \"id\": int(pd.to_numeric(obj[\"id\"], errors=\"coerce\"))}\n",
    "    return None\n",
    "\n",
    "# Build tmdb_id -> movieId map and imdbId (zero-padded) map\n",
    "links_map_movie = {}\n",
    "links_map_imdb = {}\n",
    "for _, r in links.iterrows():\n",
    "    tm = r.get(\"tmdbId\")\n",
    "    mv = r.get(\"movieId\")\n",
    "    imdb_num = r.get(\"imdbId\")\n",
    "    if pd.notna(tm) and pd.notna(mv):\n",
    "        links_map_movie[int(tm)] = int(mv)\n",
    "    if pd.notna(tm) and pd.notna(imdb_num):\n",
    "        # Rebuild zero-padded IMDb id (without 'tt' prefix per your CSV)\n",
    "        imdb_str = str(int(imdb_num)).zfill(7)\n",
    "        links_map_imdb[int(tm)] = imdb_str"
   ],
   "outputs": [],
   "execution_count": 38
  },
  {
   "cell_type": "code",
   "id": "945299c3",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-24T13:00:51.253866Z",
     "start_time": "2025-10-24T13:00:30.320096Z"
    }
   },
   "source": [
    "from datetime import datetime\n",
    "\n",
    "# Ensure TMDB id is int (drop NaN already done earlier)\n",
    "movies[\"id\"] = pd.to_numeric(movies[\"id\"], errors=\"coerce\").astype(\"Int64\")\n",
    "\n",
    "# Optional: join keywords by id to avoid repeated lookups\n",
    "kw_by_id = dict(zip(keywords[\"id\"].astype(\"Int64\"), keywords[\"keywords\"]))\n",
    "\n",
    "# Build tmdbId -> movieId map (ensure ints)\n",
    "links[\"tmdbId\"] = pd.to_numeric(links[\"tmdbId\"], errors=\"coerce\").astype(\"Int64\")\n",
    "links[\"movieId\"] = pd.to_numeric(links[\"movieId\"], errors=\"coerce\").astype(\"Int64\")\n",
    "links_map_movie = {int(t): int(m) for t, m in zip(links[\"tmdbId\"], links[\"movieId\"]) if pd.notna(t) and pd.notna(m)}\n",
    "\n",
    "\n",
    "movie_docs = []\n",
    "for _, m in movies.iterrows():\n",
    "    tmdb_id = int(m[\"id\"])\n",
    "    # genres etc are already parsed lists of dicts\n",
    "    genres = list_names(m[\"genres\"])\n",
    "    prod_companies = list_names(m[\"production_companies\"])\n",
    "    prod_countries = [d.get(\"iso_3166_1\", d.get(\"name\")) for d in m[\"production_countries\"] if isinstance(d, dict)]\n",
    "    spoken_langs = [d.get(\"iso_639_1\", d.get(\"name\")) for d in m[\"spoken_languages\"] if isinstance(d, dict)]\n",
    "    coll = safe_collection(m[\"belongs_to_collection\"])\n",
    "\n",
    "    # attach keywords (from pre-parsed keywords df)\n",
    "    kw_list = kw_by_id.get(m[\"id\"], [])\n",
    "    kw_names = list_names(kw_list)\n",
    "\n",
    "    # attach simple link to MovieLens id if available\n",
    "    mv_id = links_map_movie.get(tmdb_id)\n",
    "\n",
    "    # cast/crew pulled from credits by matching id\n",
    "    # find row in credits with same TMDB id\n",
    "    c_row = credits.loc[credits[\"id\"]==tmdb_id]\n",
    "    cast_list, crew_list = [], []\n",
    "    if not c_row.empty:\n",
    "        cast_raw = c_row.iloc[0][\"cast\"]\n",
    "        crew_raw = c_row.iloc[0][\"crew\"]\n",
    "\n",
    "        for p in cast_raw if isinstance(cast_raw, list) else []:\n",
    "            pid = p.get(\"id\")\n",
    "            if pid is None: \n",
    "                continue\n",
    "            cast_list.append({\n",
    "                \"credit_id\": p.get(\"credit_id\"),\n",
    "                \"name\": name_map.get(pid, p.get(\"name\")),\n",
    "                \"character\": p.get(\"character\"),\n",
    "                \"person_id\": pid,\n",
    "                \"order\": p.get(\"order\") # billing order\n",
    "            })\n",
    "\n",
    "        for p in crew_raw if isinstance(crew_raw, list) else []:\n",
    "            pid = p.get(\"id\")\n",
    "            if pid is None:\n",
    "                continue\n",
    "            crew_list.append({\n",
    "                \"credit_id\": p.get(\"credit_id\"),\n",
    "                \"name\": name_map.get(pid, p.get(\"name\")),\n",
    "                \"job\": p.get(\"job\"),\n",
    "                \"person_id\": pid\n",
    "            })\n",
    "\n",
    "    doc = {\n",
    "        \"_id\": tmdb_id,\n",
    "        \"title\": m.get(\"title\"),\n",
    "        \"original_title\": m.get(\"original_title\"),\n",
    "        \"overview\": m.get(\"overview\"),\n",
    "        \"tagline\": m.get(\"tagline\"),\n",
    "        \"status\": m.get(\"status\"),\n",
    "        \"release_date\": pd.to_datetime(m.get(\"release_date\"), errors=\"coerce\"),\n",
    "        \"runtime\": int(m.get(\"runtime\") or 0),\n",
    "        \"budget\": int(m.get(\"budget\") or 0),\n",
    "        \"revenue\": int(m.get(\"revenue\") or 0),\n",
    "        \"vote_average\": float(m.get(\"vote_average\") or 0.0),\n",
    "        \"vote_count\": int(m.get(\"vote_count\") or 0),\n",
    "        \"genres\": genres,\n",
    "        \"production_companies\": prod_companies,\n",
    "        \"production_countries\": prod_countries,\n",
    "        \"spoken_languages\": spoken_langs,\n",
    "        \"collection\": coll,\n",
    "        \"keywords\": kw_names,\n",
    "        \"crew\": crew_list,\n",
    "        \"cast\": cast_list,\n",
    "        \"movieId\": int(mv_id) if mv_id is not None else None,\n",
    "        \"imdbId\": links_map_imdb.get(tmdb_id)  # useful attribute\n",
    "    }\n",
    "    movie_docs.append(doc)\n",
    "\n",
    "len(movie_docs)\n"
   ],
   "outputs": [
    {
     "data": {
      "text/plain": [
       "45433"
      ]
     },
     "execution_count": 39,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 39
  },
  {
   "cell_type": "code",
   "id": "e3bef857",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-24T13:00:57.986627Z",
     "start_time": "2025-10-24T13:00:51.560049Z"
    }
   },
   "source": [
    "# person_id -> base profile fields (take first seen), then attach cast/crew roles\n",
    "person_base = {}\n",
    "roles_cast = {}\n",
    "roles_crew = {}\n",
    "\n",
    "for _, r in credits.iterrows():\n",
    "    tmdb_id = int(r[\"id\"])\n",
    "    for p in r[\"cast\"]:\n",
    "        pid = p.get(\"id\")\n",
    "        if pid is None: \n",
    "            continue\n",
    "        # base\n",
    "        if pid not in person_base:\n",
    "            person_base[pid] = {\n",
    "                \"_id\": pid,\n",
    "                \"name\": name_map.get(pid, p.get(\"name\")),\n",
    "                \"gender\": p.get(\"gender\"),\n",
    "                \"profile_path\": p.get(\"profile_path\", \"\")\n",
    "            }\n",
    "        # role\n",
    "        roles_cast.setdefault(pid, []).append({\n",
    "            \"credit_id\": p.get(\"credit_id\"),\n",
    "            \"character\": p.get(\"character\"),\n",
    "            \"billing_order\": p.get(\"order\"),\n",
    "            \"tmdb_id\": tmdb_id\n",
    "        })\n",
    "    for p in r[\"crew\"]:\n",
    "        pid = p.get(\"id\")\n",
    "        if pid is None:\n",
    "            continue\n",
    "        if pid not in person_base:\n",
    "            person_base[pid] = {\n",
    "                \"_id\": pid,\n",
    "                \"name\": name_map.get(pid, p.get(\"name\")),\n",
    "                \"gender\": p.get(\"gender\"),\n",
    "                \"profile_path\": p.get(\"profile_path\", \"\")\n",
    "            }\n",
    "        roles_crew.setdefault(pid, []).append({\n",
    "            \"credit_id\": p.get(\"credit_id\"),\n",
    "            \"department\": p.get(\"department\"),\n",
    "            \"job\": p.get(\"job\"),\n",
    "            \"tmdb_id\": tmdb_id\n",
    "        })\n",
    "\n",
    "people_docs = []\n",
    "for pid, base in person_base.items():\n",
    "    doc = dict(base)\n",
    "    doc[\"cast\"] = roles_cast.get(pid, [])\n",
    "    doc[\"crew\"] = roles_crew.get(pid, [])\n",
    "    people_docs.append(doc)\n",
    "\n",
    "len(people_docs)\n"
   ],
   "outputs": [
    {
     "data": {
      "text/plain": [
       "353343"
      ]
     },
     "execution_count": 40,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 40
  },
  {
   "cell_type": "code",
   "id": "a51d8900",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-24T13:10:33.719028Z",
     "start_time": "2025-10-24T13:00:58.298397Z"
    }
   },
   "source": [
    "from datetime import datetime, timezone\n",
    "\n",
    "ratings_docs = []\n",
    "for _, r in ratings.iterrows():\n",
    "    ratings_docs.append({\n",
    "        \"userId\": int(r[\"userId\"]),\n",
    "        \"movieId\": int(r[\"movieId\"]),\n",
    "        \"rating\": float(r[\"rating\"]),\n",
    "        \"timestamp\": datetime.fromtimestamp(int(r[\"timestamp\"]), tz=timezone.utc)\n",
    "    })\n",
    "\n",
    "len(ratings_docs)\n"
   ],
   "outputs": [
    {
     "data": {
      "text/plain": [
       "26024289"
      ]
     },
     "execution_count": 41,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 41
  },
  {
   "cell_type": "code",
   "id": "a4b2f5c2",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-24T13:10:36.538610Z",
     "start_time": "2025-10-24T13:10:35.529419Z"
    }
   },
   "source": [
    "# Rebuild zero-padded imdbId string per your CSV, and keep integers for ids\n",
    "links_docs = []\n",
    "for _, r in links.iterrows():\n",
    "    mv = int(r[\"movieId\"]) if pd.notna(r[\"movieId\"]) else None\n",
    "    tm = int(r[\"tmdbId\"]) if pd.notna(r[\"tmdbId\"]) else None\n",
    "    imdb_str = None\n",
    "    if pd.notna(r[\"imdbId\"]):\n",
    "        imdb_str = str(int(r[\"imdbId\"])).zfill(7)\n",
    "    links_docs.append({\n",
    "        \"movieId\": mv,\n",
    "        \"imdbId\": imdb_str,\n",
    "        \"tmdbId\": tm\n",
    "    })\n",
    "\n",
    "len(links_docs[:5]), links_docs[:2]\n"
   ],
   "outputs": [
    {
     "data": {
      "text/plain": [
       "(5,\n",
       " [{'movieId': 1, 'imdbId': '0114709', 'tmdbId': 862},\n",
       "  {'movieId': 2, 'imdbId': '0113497', 'tmdbId': 8844}])"
      ]
     },
     "execution_count": 42,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 42
  },
  {
   "cell_type": "code",
   "id": "55c8ca20",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-24T13:10:37.635214Z",
     "start_time": "2025-10-24T13:10:36.805983Z"
    }
   },
   "source": [
    "# Valid MovieLens ids from links\n",
    "valid_movie_ids = set(links[\"movieId\"].dropna().astype(\"Int64\"))\n",
    "\n",
    "# Ratings with unknown movieId\n",
    "ratings_bad_link = ratings[~ratings[\"movieId\"].isin(valid_movie_ids)]\n",
    "\n",
    "print(f\"Total ratings: {len(ratings)}\")\n",
    "print(f\"Ratings with movieId not in links: {len(ratings_bad_link)}\")\n",
    "display(ratings_bad_link.head(10))\n"
   ],
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Total ratings: 26024289\n",
      "Ratings with movieId not in links: 0\n"
     ]
    },
    {
     "data": {
      "text/plain": [
       "Empty DataFrame\n",
       "Columns: [userId, movieId, rating, timestamp]\n",
       "Index: []"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>userId</th>\n",
       "      <th>movieId</th>\n",
       "      <th>rating</th>\n",
       "      <th>timestamp</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    }
   ],
   "execution_count": 43
  },
  {
   "cell_type": "code",
   "id": "4e10d6a8",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-24T13:10:38.128395Z",
     "start_time": "2025-10-24T13:10:37.898650Z"
    }
   },
   "source": [
    "from DbUploader import DbUploader\n",
    "\n",
    "prog = DbUploader(\n",
    "    DATABASE=\"movie_db\",\n",
    "    HOST=\"localhost\",\n",
    "    USER=\"slaver\",\n",
    "    PASSWORD=\"root\",\n",
    ")\n",
    "\n",
    "for name in [\"movies\",\"people\",\"ratings\",\"links\"]:\n",
    "    prog.drop_if_exists(name)"
   ],
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "mongodb://slaver:root@localhost/movie_db\n",
      "You are connected to the database: movie_db\n",
      "-----------------------------------------------\n",
      "\n"
     ]
    }
   ],
   "execution_count": 44
  },
  {
   "cell_type": "code",
   "id": "40d1e40d",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-10-24T13:10:38.376313Z",
     "start_time": "2025-10-24T13:10:38.364233Z"
    }
   },
   "source": [
    "def to_native(x):\n",
    "\n",
    "    if x is pd.NaT:\n",
    "        return None\n",
    "    if isinstance(x, pd.Timestamp):\n",
    "        return None if pd.isna(x) else x.to_pydatetime()\n",
    "    try:\n",
    "        from pandas._libs.missing import NAType\n",
    "        if isinstance(x, NAType):\n",
    "            return None\n",
    "    except Exception:\n",
    "        pass\n",
    "\n",
    "    # numpy scalars -> Python scalars\n",
    "    if isinstance(x, np.generic):\n",
    "        return x.item()\n",
    "    \n",
    "    # containers\n",
    "    if isinstance(x, dict):\n",
    "        return {k: to_native(v) for k, v in x.items()}\n",
    "    if isinstance(x, list):\n",
    "        return [to_native(v) for v in x]\n",
    "    return x"
   ],
   "outputs": [],
   "execution_count": 45
  },
  {
   "cell_type": "code",
   "id": "b922d6ea",
   "metadata": {
    "jupyter": {
     "is_executing": true
    },
    "ExecuteTime": {
     "start_time": "2025-10-24T13:10:38.618945Z"
    }
   },
   "source": [
    "movie_docs_clean  = [to_native(d) for d in movie_docs]\n",
    "people_docs_clean = [to_native(d) for d in people_docs]\n",
    "links_docs_clean  = [to_native(d) for d in links_docs]\n",
    "ratings_docs_clean = ratings_docs\n"
   ],
   "outputs": [],
   "execution_count": null
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "6ec047f3",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "movies inserted: 45433\n",
      "people inserted: 353343\n",
      "links inserted: 9125\n",
      "ratings inserted: 100004\n"
     ]
    }
   ],
   "source": [
    "ins_movies  = prog.insert_many_chunked(\"movies\",  movie_docs_clean,  batch_size=50_000)\n",
    "ins_people  = prog.insert_many_chunked(\"people\",  people_docs_clean, batch_size=50_000)\n",
    "ins_links   = prog.insert_many_chunked(\"links\",   links_docs_clean,  batch_size=200_000)\n",
    "ins_ratings = prog.insert_many_chunked(\"ratings\", ratings_docs_clean, batch_size=200_000)\n",
    "\n",
    "print(\"movies inserted:\", ins_movies)\n",
    "print(\"people inserted:\", ins_people)\n",
    "print(\"links inserted:\", ins_links)\n",
    "print(\"ratings inserted:\", ins_ratings)\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "3a52d7da",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "{'movies': 45433, 'people': 353343, 'ratings': 100004, 'links': 9125}\n",
      "{'_id': 862, 'title': 'Toy Story', 'genres': ['Animation', 'Comedy', 'Family'], 'imdbId': '0114709'}\n",
      "{'_id': 31, 'name': 'Tom Hanks', 'cast': [{'credit_id': '52fe4284c3a36847f8024f95', 'character': 'Woody (voice)', 'billing_order': 0, 'tmdb_id': 862}], 'crew': [{'credit_id': '52fe450ec3a36847f80b9bad', 'department': 'Directing', 'job': 'Director', 'tmdb_id': 9591}]}\n"
     ]
    }
   ],
   "source": [
    "prog.create_assignment_indexes()\n",
    "print(prog.stats())\n",
    "\n",
    "# Test quick peeks\n",
    "print(prog.db[\"movies\"].find_one({}, {\"_id\":1,\"title\":1,\"genres\":1,\"links\":1,\"imdbId\":1}))\n",
    "print(prog.db[\"people\"].find_one({}, {\"_id\":1,\"name\":1,\"cast\": {\"$slice\": 1}, \"crew\": {\"$slice\": 1}}))\n"
   ]
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": ".venv",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.13.7"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}